html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    /*background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("static/img/BG.png");*/
    background: url("/static/img/BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: aliceblue;
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 72px;
        padding-bottom: 0;
    }
}

a {
    color: blue;
    transition: color 0.2s ease-in-out;
}

.imgPlace {
    padding-bottom: 30px;
}

a {
    color: blue;
    transition: color 0.2s ease-in-out;
}

body {
    background-size: cover;
    background-image: url("/static/img/bg.jpg");
    font-family: 'Roboto', sans-serif;
    font-family: 'PT Serif', serif;
}

.cA {
    background: rgba(225, 225, 225, 0.8);
}

.topPage {
    min-height: 100%;
    min-height: 100%;
    background-size: cover;
    background-image: url("/static/img/top.jpg");
}

h2 {
    margin: 1rem; !important;
}

.thumb-wrap {
    position: relative;
    padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
}
.thumb-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}