{% extends '_base_article.html' %}

{% block title %}Беседка Гончарова{% endblock %}
{% block article_title %}Беседка Гончарова{% endblock %}

{% block text %}
<div style="font-size: 125%;">
    <div class="pt-3" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
        <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"height":540,"width":1203,"zoom":14,"queryString":"Памятник-беседка ГОНЧАРОВУ Ивану Александровичу, Ульяновск, Россия","place_id":"ChIJY9IGs2I3XUERLsEHZKYrFZs","satellite":false,"centerCoord":[54.311189972108885,48.38315134999999],"cid":"0x9b152ba66407c12e","lang":"ru","cityUrl":"/russia/ulyanovsk-36692","cityAnchorText":"Карта [CITY1], Volga Federal District, Россия","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"164192"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://1map.com/js/script-for-user.js?embed_id=164192';
        s.async = true;
        s.onload = function (e) {
            window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
    })();</script><a href="https://1map.com/ru/map-embed?embed_id=164192">1 Map</a></div>
    <br>
    <p >6 июня 1912 года в имении дворян Киндяковых Винновке близ Симбирска в честь 100-летия со дня рождения Ивана Александровича Гончарова была торжественно открыта мемориальная беседка. Автором проекта выступил симбирский архитектор А.А. Шодэ. Все расходы на проектирование, изготовление и установку памятника взяла на себя владелица киндяковской усадьбы Екатерина Максимилиановна Перси-Френч.</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-19.userapi.com/c205324/v205324912/7c4ab/Yqjix_Cigio.jpg"/>
    </div>
    <div class="thumb-wrap m-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2lFl9tdZolg" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>Беседка-ротонда была выполнена в дорическом стиле с соблюдением необходимых пропорций и правил из специального фигурного кирпича, оштукатурена и побелена. Под куполом в центре площадки установили четырехгранный обелиск с двумя бронзовыми мемориальными досками. Одна представляла собой барельефный портрет И.А.Гончарова работы Цейдлера. На второй доске была сделана надпись: &laquo;Памяти И.А.Гончарова. 1812-1891. Сооружен в день столетия в 1912 году&raquo;.</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-31.userapi.com/c205324/v205324912/7c4bf/E4o6OX3IONs.jpg"/>
    </div>
    <p>В годы революции имение Перси-Френч было разграблено и разрушено местными крестьянами, но беседка уцелела и в 1937 году в числе прочих 17 объектов была включена в список памятников культуры, охраняемых государством.</p>
    <p>В июне-октябре 1967 г. беседка-памятник И.А. Гончарову была перенесена на новое место &ndash; высокий холм на берегу волжского водохранилища севернее села Винновка, где в своё время располагался барский дом помещиков Киндяковых. Причиной тому стали размыв волжского берега, оползни и образование глубокого оврага, наступавшего с востока на территорию расположения беседки и создавшего угрозу разрушения памятника.</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-14.userapi.com/c205324/v205324912/7c4dd/2cptd0CqaKM.jpg"/>
    </div>
    <p>В 2008-2009 гг. в рамках подготовки к празднованию 200-летия со дня рождения И.А. Гончарова были проведены работы по реконструкции беседки-памятника, в результате чего она была полностью разрушена и выполнена заново из белого мрамора.</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-53.userapi.com/c205324/v205324912/7c87d/HIE_Zd60D5w.jpg"/>
    </div>
</div>
{% endblock %}
