{% extends '_base_article.html' %}

{% block title %}Владимирский сад{% endblock %}
{% block article_title %}Владимирский сад{% endblock %}

{% block text %}
<div style="font-size: 125%;">
    <div class="pt-3" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
        <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"height":540,"width":1203,"zoom":15,"queryString":"Владимирский сад, улица Плеханова, Ульяновск, Россия","place_id":"ChIJjTQuYXI3XUERbyNOQdIIbC4","satellite":false,"centerCoord":[54.311189972108885,48.38315134999999],"cid":"0x2e6c08d2414e236f","lang":"ru","cityUrl":"/russia/ulyanovsk-36692","cityAnchorText":"Карта [CITY1], Volga Federal District, Россия","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"164192"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://1map.com/js/script-for-user.js?embed_id=164192';
        s.async = true;
        s.onload = function (e) {
            window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
    })();</script><a href="https://1map.com/ru/map-embed?embed_id=164192">1 Map</a></div>
    <br>
    <p>Третий общественный городской сад Симбирска был разбит по решению городской думы в 1873 году. По основной версии, он назван в честь симбирского губернатора графа Владимира Владимировича Орлова-Давыдова.</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-18.userapi.com/c205324/v205324912/7c7b5/pQUl8Ljkmh0.jpg"/>
    </div>
    <p>В советское время в здании бывшего Общественного собрания, находившегося на территории сада, был открыт Народный дом имени Я.М. Свердлова. В 1919 году был переименован в центральный парк культуры и отдыха имени Якова Михайловича Свердлова &ndash; видного революционера.</span></span></span></p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-59.userapi.com/c205324/v205324912/7c7bd/zs_Ucqn-yng.jpg"/>
    </div>
    <h2 class="m-3">Война войной, а парк жил</h2>
    <p>Даже в тяжёлые послевоенные годы парк был первым объектом строительства общегородского значения. Весной и летом 1945 года проводилось озеленение и благоустройство парка. В 1947-1948 годах к 300-летию города была проведена реконструкция парка и металлической ограды вспоминают в дирекции парков.</p>
    <p>Тогда же была выстроена арка главного входа, сооружена каменная лестница с декоративными вазонами на тумбах, которые в данный момент являются визитной карточкой парка.</p>
    <h2 class="m-3">Новая жизнь</h2>
    <p>22 ноября 2010 года постановлением главы города №6187 был утверждён протокол № 27 от 16 ноября 2010 г. комиссии по наименованию улиц, площадей, переулков, проспектов, бульваров, проездов и других составляющих Ульяновска, согласно которому парку им. Я.М. Свердлова возвращено историческое название "Владимирский сад" сообщают в дирекции парков.</p>
    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="text-center"><img class="img-fluid" src="https://sun9-29.userapi.com/c205324/v205324912/7c7d0/1PeD2MdJgHM.jpg"/>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="text-center"><img class="img-fluid" src="https://sun9-68.userapi.com/c205324/v205324912/7c7e4/h74PVfy16DY.jpg"/>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="text-center"><img class="img-fluid" src="https://sun9-34.userapi.com/c205324/v205324912/7c7ee/PJ2iBX2ePYY.jpg"/>
            </div>
        </div>
    </div>
    <p>С этого момента началась новейшая история парка. В 2011 году была произведена реконструкция входной группы и освещения, отремонтирована летняя эстрада. Работы по благоустройству продолжились и в 2012 году. В парке были высажены газоны и разбиты цветники, отремонтированы аттракционы и установлены павильоны касс. Главной изюминкой парка стал восстановленный фонтан с возвращённой скульптурной группой XIX века девочкой с чашей и херувимами</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-49.userapi.com/c205324/v205324912/7c7c6/evhk6xV0xhU.jpg"/>
    </div>
{% endblock %}

{% block images %}{% endblock %}