{% extends '_base_article.html' %}

{% block title %}Вокзал Симбирска-Ульяновска{% endblock %}
{% block article_title %}Вокзал Симбирска-Ульяновска{% endblock %}

{% block text %}
<div style="font-size: 125%;">
<div class="pt-3" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
    <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
    var setting = {"height":540,"width":1203,"zoom":15,"queryString":"ул. Железнодорожная, 42, Ульяновск, Россия","place_id":"ChIJUVkYCP02XUERLrX-rrtZDvg","satellite":false,"centerCoord":[54.311189972108885,48.38315134999999],"cid":"0xf80e59bbaefeb52e","lang":"ru","cityUrl":"/russia/ulyanovsk-36692","cityAnchorText":"Карта [CITY1], Volga Federal District, Россия","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"164192"};
    var d = document;
    var s = d.createElement('script');
    s.src = 'https://1map.com/js/script-for-user.js?embed_id=164192';
    s.async = true;
    s.onload = function (e) {
        window.OneMap.initMap(setting)
    };
    var to = d.getElementsByTagName('script')[0];
    to.parentNode.insertBefore(s, to);
})();</script><a href="https://1map.com/ru/map-embed?embed_id=164192">1 Map</a></div>
<br>
<p>В Симбирске, в канун нового 1899 года, произошло знаменательное событие: открытие железной дороги, которая во
многом изменила жизнь горожан, культуру, быт, темп жизни. В  мире и в больших городах России, к тому времени, уже
была создана железнодорожная сеть и сложилась практика строительства железнодорожных станций и вокзалов.  
</p>
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-57.userapi.com/c205324/v205324912/7c874/v273WSpeC60.jpg"/>
</div>
<p>
История железнодорожного движения  Симбирска- Ульяновска связана со строительством Московско-Казанской железной
дороги (МКжд) — одной  из железных дорог, построенной на средства частного капитала - Общества Московско-Казанской
ж. д. в 1864—1916 гг.  Вопрос  о строительстве железнодорожной ветки соединяющий Симбирск с Инзой и дающей выход
на центральную сеть железных дорог страны возник   в конце 60-х гг.  Симбирская губерния во второй половине XIX
века была сельскохозяйственной. В уездах  работали суконные фабрики. Предметом вывоза из губернии  были сукно,
зерно, спирт, овчина, кожа и ремесленные изделия. Хлеб и сукно, поставлялись военному ведомству (по госзаказу).
Все эти товары вывозились из губернии главным образом речным путем, на баржах и грузовых пароходах.  Перевозки
по Волге были сезонными. Соседние губернии Казань,  Самара, имевшие уже железнодорожное сообщение с Москвой и
    Петербургом, стали обгонять Симбирск в экономическом отношении. </p>
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-20.userapi.com/c205324/v205324912/7c827/GNsSKO_qO8Y.jpg"/>
</div>
<p>
Губернатором  Симбирска в тот период был Владимир Николаевич Акинфов.  При его умелом руководстве  в губернии 
начался  экономический подъем. Главным событием стало строительство железной дороги. Идею поддержал  влиятельный
С.Ю. Витте, который возглавлял МПС (впоследствии  министр финансов и премьер-министр  Российской империи).
Николай II одобрил план строительства и 24 февраля 1897 года направил указ министру путей сообщения о разрешении
обществу М.К.жд производить отчуждение земель в полосе строительства железной дороги от Симбирска до Инзы.
Отвод земель под  строительство вокзала в Симбирске был решен в марте 1897года.  Руководителем стройки стал
предприниматель  Николай Карлович Фон Мекк (сын К.Ф.фон Мекка). В 1891 году он был назначен председателем
правления М.К.жд  и  продолжил дело отца. За  10 лет его руководства протяженность М.К.жд увеличилась в 9 раз.
Была создана новая железнодорожная сеть в Поволжье: Рязань – Казань, Рузаевка – Пенза – Сызрань – Батраки,
Инза – Симбирск, Тимирязево – Нижний Новгород.  
</p>
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-5.userapi.com/c205324/v205324912/7c860/hJ9veUyku8I.jpg"/>
</div>
<p>После проведения изыскательных работ на трассе будущей железной
дороги вдоль Сызранского, Саратовского тракта  начались земляные работы. На насыпи укладывались шпалы и рельсы в
направлении  Вырыпаевки.    Железнодорожная ветка  Инза -  Симбирск выходила на южный городской  выгон, рядом со
слободой  Туть.  В настоящее время  – микрорайон в южной части города. Название получил в XVII веке, где согласно
указу царя Алексея Михайловича  был заложен тутовый сад. Предполагалось использовать его для разведения гусениц
шелкопряда и производства натурального шёлка. Тутовый сад просуществовал недолго, погиб от морозов. Позднее, в
начале XIX века, на месте сада стали отводить земельные участки инвалидам войн и солдатам, так возникла слобода,
которая в память о тутовых садах стала называться Туть. 
К имеющейся железной дороге  Москва – Инза  была построена ж/ветка в один путь, длиной 165,5 км.  от Симбирска до Инзы.
Первый паровоз прибыл в Симбирск из Нижнего Новгорода  по Волге, который с большим трудом  подняли на волжский косогор.
Строительство железной дороги  началась в 1897 году, но к 1898 году железнодорожная колея еще не дошла до Инзы,
вот почему паровоз доставили по воде, а потом долго и трудно поднимали по волжскому косогору при большом стечении народа. 
После  официального открытия железной дороги и вокзала (ст. Ульяновск-I) в январе 1899г. Симбирск стал считаться
тупиковой железнодорожной станцией. На протяжении вновь открытой железной дороге были построены (в 1898-1899гг.) 
ж/д станции: Глотовка, Шарлово, Охотничья и др.   Интересный факт -  первоначально по проекту намечалось,
что железная дорога  будет проходить через г. Карсун, но купцы  боясь конкуренции и потери прибылей воспротивились.
    Так узловой станцией стала Инза, а не Карсун.  
</p>
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-59.userapi.com/c205324/v205324912/7c86a/5aBmItJvqow.jpg"/>
</div>
<p>
Первая железная дорога Симбирска дала многим жителям района
Тути рабочие места со стабильным заработком: кочегары, смазчики, стрелочники, носильщики, грузчики и другие работники.
Наиболее предприимчивые местные жители  открывали  пекарни, трактиры и лавки с разнообразным товаром, застроив целый
квартал поблизости с вокзалом.  Строительство железной дороги способствовало переименованию одной из Инвалидных улиц
в Транспортную. Со временем изменили название переулков. В то время Туть начиналась от сегодняшнего переулка Суворова
и шла до Южного выгона, до Киндяковки. С севера – от переулка Суворова до улицы Минаева – были поля.
</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-33.userapi.com/c205324/v205324912/7c838/Ycbg7r2jvUY.jpg"/>
    </div>
    <br>
{% endblock %}

