{% extends '_base_article.html' %}

{% block title %}Дворянское собрание{% endblock %}
{% block article_title %}Дворянское собрание{% endblock %}

{% block text %}
<div style="font-size: 125%;">
    <div class="pt-3" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
        <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"height":540,"width":1203,"zoom":16,"queryString":"Ульяновская областная научная библиотека им. В.И. Ленина, Дворянский пер., 3/2, Ульяновск, Россия","place_id":"ChIJ8-j5Pm43XUER_DlgzB3ToTs","satellite":false,"centerCoord":[54.33314772212675,48.3857285],"cid":"0x3ba1d31dcc6039fc","lang":"ru","cityUrl":"/russia/ulyanovsk-36692","cityAnchorText":"Карта [CITY1], Volga Federal District, Россия","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"177456"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://embedgooglemap.1map.com/js/script-for-user.js?embed_id=177456';
        s.async = true;
        s.onload = function (e) {
            window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
    })();</script><a href="https://embedgooglemap.1map.com/ru?embed_id=177456">1 Map</a></div>
    <br>
<p>История Дворянского собрания Ульяновска начинается в XIX в., когда император Николай I, посетивший Симбирск 22-23 августа 1836 года, распорядился возвести в городе «дворянский дом». Однако возведение здания началось семь лет спустя в 1843 г. и было завершено в 1847 году.
    Его архитектором выступил архитектор Иван Адольфович Бенземан. Торжественное открытие Дворянского собрания состоялось в январе 1848 г. В нём проводились различные деловые заседания, встречи, различные увеселительные мероприятия. В здании работали канцелярия, присутствие,
    архив и губернская земская управа. В Дворянском собрании также находились квартиры предводителя дворянства, его секретаря, письмоводителя, ряда других служащих.
</p>
    <div class="text-center"><img class="img-fluid" src="https://sun9-21.userapi.com/c205324/v205324912/7c753/5-_09kj2vw4.jpg"/>
    </div>
<p>18 апреля 1848 г. в здание переехала Карамзинская общественная библиотека «для всех сословий и классов общества», арендовавшая в Доме две небольшие комнаты. Ныне эти две комнаты плюс ещё одна комната первого этажа с 1990 г. являются музеем Карамзинской библиотеки,
    обстановка которой сохранилась с большой достоверностью, поскольку осталось достаточно много подлинных вещей и документов той эпохи. Хотя при пожаре 1864 г. погиб весь книжный фонд, насчитывавший более 11 тысяч изданий, писатель Иван Александрович Гончаров передал ей в дар свои книги и предложил поступить так же и других литераторов,
    и к 1866 г., к столетию со дня рождения Карамзина Н. В. по всероссийской подписке в библиотеку поступило более 70 тысяч томов, и на её основе была создана коллекция Дворца книги.
</p>
<p>Дворянское собрание неоднократно посещали царственные особы: 19 мая 1868 г. — Владимир Александрович, 21 мая 1868 г. — Алексей Александрович, 20 июля 1869 г. — цесаревич Александр Александрович, будущий император Александр III, 9 июня 1870 г. — великий князь Константин Николаевич, 28 августа 1871 г. — Александр II с цесаревичем Александром Александровичем.
</p>
<p>4 октября 1898 г. в Доме прошла известная юбилейная выставка в честь 250-летия Симбирска.
</p>
<p>В 1906 г. рядом с Дворянским собранием был проведён террористический акт — у западного входа в губернатора К. С. Старынкевича эсерыбросили бомбу, и он скончался от ранений два дня спустя.
</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-11.userapi.com/c205324/v205324912/7c735/O6ZDb211C4k.jpg"/>
    </div>
<p>Западное крыло здания в разное время арендовали Дворянский пансион, Вторая мужская гимназия, здесь располагались советская школа и педагогический институт. С 1925 г. здание бывшего Дворянского собрания заняла библиотека, которая стала называться Дворцом книги имени Ленина. Во времена Великой Отечественной войны в здании кроме библиотеки работала часть конструкторского бюро автозавода «ЗИС», здесь также действовал военный трибунал.
</p>
<p>В наше время здесь находится Ульяновская областная научная библиотека им. В. И. Ленина.
</p>
<p>Здание было построено в стиле классицизма и отличалось великолепием и изяществом. На входе было ступенчатое крыльцо,
    которое украшали большие фонари на чугунных тумбах. Доминантой Дома стал торжественный зал на втором этаже с потолком,
    украшенным десятью гербами Симбирска и уездных городов в виде лепных рельефов. Из зала на балкон, с которого открывается вид на волжский пейзаж,
    вели высокие двери. Вокруг зала группировались остальные помещения здания. Слева от зала находился «зеркальный зал» для дам,
    которому недавно дали название «Пушкин». Справа располагался зал для мужских развлечений, в частности для бильярда и карточных игр, ныне называющийся «Карамзиным».
</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-29.userapi.com/c205324/v205324912/7c749/07ayvQ3dQZ8.jpg"/>
    </div>
<p>Во время пожара 1864 г. здание Дворянского собрания выгорело практически полностью — остались только каменные стены и перекрытия подвала.
    Однако на этом история здания не закончилась: три года спустя оно было восстановлено по проекту Купинского почти в исходном виде.
    Крыльцо было заменено портиком с широким балконом с балюстрадой, опирающимся на столбы. Было решено также не восстанавливать крытую деревянную галерею и угловой балкон во дворе Дома.
    И если раньше потолок украшали десять гербов Симбирска и уездов Симбирской губернии, то теперь их осталось только восемь ввиду изменения состава Симбирской губернии и количество уездов в ней.
    Зал теперь освещали люстры с хрустальными подвесками, установленные после 1864 г. Кто их изготовил, определённости нет: их выполнили французские или австрийские мастера.
    Эти люстры сохранились и по сей день, но теперь они освещают не свечами, а электрическими лампами, а хрустальные подвески заменили на стеклянные. Сохранились также два камина.
</p>
<p>Однако облик здания не раз менялся — сначала под потребности симбирского дворянства, а после 1917 г. — советской власти.
    Тем не менее, теперь оно имеет почти первоначальный облик, а в 1960-е гг. по частично сохранившимся фрагментам была восстановлена лепнина потолка.
</p>
</div>
{% endblock %}