{% extends '_base_article.html' %}

{% block title %}Дом княжны Ухтомской{% endblock %}
{% block article_title %}Дом княжны Ухтомской{% endblock %}

{% block text %}
<div style="font-size: 125%;">
<div class="pt-3" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
    <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
    var setting = {"height":540,"width":1203,"zoom":15,"queryString":"улица Льва Толстого, 28, Ульяновск, Россия","place_id":"ChIJ3VjG_BM3XUERCJRUkFBRbCs","satellite":false,"centerCoord":[54.311189972108885,48.38315134999999],"cid":"0x2b6c515090549408","lang":"ru","cityUrl":"/russia/ulyanovsk-36692","cityAnchorText":"Карта [CITY1], Volga Federal District, Россия","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"164192"};
    var d = document;
    var s = d.createElement('script');
    s.src = 'https://1map.com/js/script-for-user.js?embed_id=164192';
    s.async = true;
    s.onload = function (e) {
        window.OneMap.initMap(setting)
    };
    var to = d.getElementsByTagName('script')[0];
    to.parentNode.insertBefore(s, to);
})();</script><a href="https://1map.com/ru/map-embed?embed_id=164192">1 Map</a></div>
<br>
<p>История княжны Евгении Ухтомской – память о ней хранит металл уже больше века, – от владения самыми пышными доходными домами до нищенской старости в Стране Советов.
</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-68.userapi.com/c205324/v205324912/7c6a3/qyFbMTNNrdM.jpg"/>
    </div>
<p>Князья Ухтомские – вот, пожалуй, самые прославленные сиятельные домовладельцы с Покровской. Представители рода, известные в летописях Российского государства с затёртого XV столетия, брали как качеством, так и количеством. Обе стороны современной улицы украшают домовладения, принадлежавшие на заре XX столетия княжне Евгении Николаевне (родилась в 1862 году) и братцу её, князю Михаилу Николаевичу (родился в 1866 году) Ухтомским.
</p>
<p>О княжне сообщает потомству монограмма «ЕУ», вплетённая в узор эффектной  металлической балконной решётки растительного орнамента. Дом с монограммой был выстроен в 1913 году, всего за один строительный сезон. В том же сезоне здание было заселено.
</p>
<p>Можно предположить, что сама княжна Евгения Николаевна являлась на балконе, томно обмахиваясь китайским веером и приветствуя проезжавших мимо в каретах и авто важных знакомых. Нет, выразительной архитектуры дом служил не особняком, а был доходным то есть, сдавался внаём. Первым обитателем его стал врач-бактериолог А.А. Козлов, расположивший здесь собственную химико-бактериологическую лабораторию и рентгеноскопический кабинет.
</p>
<p>Рядом стоит ещё один интересный дом в два этажа. Он также принадлежал Евгении Николаевне и всего на год старше дома с монограммой: строительство началось в 1911-м и было закончено в 1912 году. Он тоже служил доходным, сдаваясь в аренду под квартиры – каждая квартира размером в один этаж.
</p>
<p>На старых фотографиях видно, что здания объединяли в общий ансамбль несохранившиеся въездные ворота. Оба дома спроектировал и построил замечательный симбирский архитектор Федор Осипович Ливчак (1878 – 1919 годы). В этих своих творениях, читаем мы в изданном в 2006 году каталоге «Историко-архитектурные памятники Симбирска-Ульяновска», зодчий тяготел «к петербургскому модерну, испытавшему влияние финской архитектуры с её тягой к натуральному камню, монохромности и символике архитектурных деталей».
</p>
<p>Что ж, начало 1910-х годов для Симбирска важная эпоха, полная надежд и ожиданий. Уже согласовано строительство железнодорожного моста через Волгу. Вот-вот хлынут в город из столиц господа, с этим строительством связанные, люди небедные, привыкшие жить на широкую ногу – а значит, надо готовить для них нечто подходящее под столичные стандарты. Чтобы не хуже, чем в Петербурге!
</p>
<p>Из пустотелого камня
</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-65.userapi.com/c205324/v205324912/7c6b7/ETd4MpHdM70.jpg"/>
    </div>
    <p>И точно – в зданиях было и электричество, и центральное паровое отопление. «Тягу к натуральному камню» вполне удовлетворял «бетонный пустотелый камень», ноу-хау Федора Осиповича Ливчака.
</p>
<p>Среди полусотни зданий и сооружений, возведённых по собственным проектам и технологии в Симбирске и Симбирской губернии, сам зодчий особо выделял доходные дома княжны Евгении Ухтомской. Изданная в 1914 году рекламно-познавательная брошюра архитектора «Бетонный пустотелый камень» проиллюстрирована сразу тремя изображениями занимающих нас домов – оба вместе и каждый отдельно, фото с натуры и авторский проект.
</p>
<p>Федор Осипович был большим поборником бетона и новых строительных технологий. Во время Гражданской войны, летом 1918 года, он даже предложил занявшим Симбирск «белым» изобретённую им «бетонную броню», уверяя, что ни пули, ни снаряды не способны сокрушить этот мощный материал. Но первый же опыт оказался плачевен – броню Ливчака разнесло в куски.
</p>
<p>Что-то подобное случилось и с возведёнными из бетонного пустотелого камня домами – в 1980-е годы, в целях предотвращения разрушения, здания пришлось скреплять стяжками из металлического швеллера.
</p>
<p>После революции
</p>
<p>В сентябре 1918 года, накануне неизбежного взятия Симбирска отрядами «красных», из города эвакуировались и Ливчак, и многочисленное семейство князей Ухтомских. Федор Осипович умер от тифа в Омске, князья осели в китайском Харбине. А вот Евгения Николаевна не то осталась, не то вернулась через некоторое время в родной город.
</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-49.userapi.com/c205324/v205324912/7c699/0hY1h8WyYuE.jpg"/>
    </div>
<p>Закат дней бывшей, очень немолодой домовладелицы прошёл в нужде и печалях. Евгения Николаевна перебивалась случайными заработками, подвергалась административным репрессиям, была лишена избирательных прав.
</p>
<p>И всё же – все десятилетия Советской власти пережила монограмма «ЕУ» на старинном балконе. Ведь то, что мы делаем, часто живёт куда дольше нас.
</p>
</div>
{% endblock %}