{% extends '_base_article.html' %}

{% block title %}Доходный дом Зеленковой{% endblock %}
{% block article_title %}Доходный дом Зеленковой{% endblock %}

{% block text %}
<div style="font-size: 125%;">
<div class="pt-3" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
    <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
    var setting = {"height":540,"width":1203,"zoom":15,"queryString":"ул. Гончарова, 12, г. Ульяновск, Россия","place_id":"ChIJ1awRsxI3XUEReegjfR86YmM","satellite":false,"centerCoord":[54.311189972108885,48.38315134999999],"cid":"0x63623a1f7d23e879","lang":"ru","cityUrl":"/russia/ulyanovsk-36692","cityAnchorText":"Карта [CITY1], Volga Federal District, Россия","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"164192"};
    var d = document;
    var s = d.createElement('script');
    s.src = 'https://1map.com/js/script-for-user.js?embed_id=164192';
    s.async = true;
    s.onload = function (e) {
        window.OneMap.initMap(setting)
    };
    var to = d.getElementsByTagName('script')[0];
    to.parentNode.insertBefore(s, to);
})();</script><a href="https://1map.com/ru/map-embed?embed_id=164192">1 Map</a></div>
<br>
<p>Архитектор Фёдор Осипович Ливчак разработал проект этого здания в 1906 г., и это был один из первых его проектов. Заказчиками были состоятельные купцы Зеленковы, которым в Симбирске принадлежали также и другие доходные дома, например, кинотеатр «Ампир» и кинотеатр «Модерн», в зданиях которых размещались также жилые помещения и магазины.
</p>
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-62.userapi.com/c205324/v205324912/7c70d/C2ES2z6uyfU.jpg">
</div>
<p>Ливчак построил дом из кирпича трёхэтажным, в плане Т-образным. Главный фасад дома был обращён на Саратовскую улицу (ныне — улица Гончарова). Дом изначально планировался для сдачи внаём торговцам и жильцам. Для этого на первом этаже были предусмотрены помещения для магазинов, а на втором и третьем — жилые квартиры.
</p>
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-3.userapi.com/c205324/v205324912/7c6f9/CFW6anrpLIY.jpg">
</div>
<p>Наиболее интересным в архитектурно-художественном плане является главный фасад здания. Он выполнен симметричным как и внутренняя планировка дома. Первый этаж доходного дома украшен рустами, а центральный вход представлял собой портал с двумя ионическими полуколоннами. Стена первого этажа здания также является цоколем для жилых этажей.
    Простенки украшают ионические пилястры, соединяющие второй и третий этажи и находящиеся рядом с центральной осью симметрии дома. Ось симметрии подчёркнута на фасаде здания ризалитом, который объединяет центральный вход и высокое арочное окно.
    Это окно предназначалось для освещения лестницу внутри здания и на фасаде было украшено картушем с изображением герба купеческой семьи. Сам герб включал в себя фигуры двух Кадуцеев.
</p>
<p>В период 1911—1912 гг. в здании работала редакция газеты «Симбирская жизнь» и типография «Работник». После Октябрьской Революции 1917 г. в здании в разное время располагались медтехникум, областная партшкола и редакция газеты «Ульяновская правда». Ныне в нём находятся жилые квартиры и магазины.
</p>
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-15.userapi.com/c205324/v205324912/7c6ef/IKZ_kH7GtG8.jpg">
</div>
<p>Бывший дом купчихи Зеленковой по Решению № 79 исполкома Ульяновского областного Совета народных депутатов от 12.02.1990 и Распоряжение № 959-р Главы администрации Ульяновской области от 29.07.1999 был признан памятником архитектуры регионального значения.
</p>
<br>
{% endblock %}