{% extends '_base_article.html' %}

{% block title %}Дом купцов Забориных{% endblock %}
{% block article_title %}Дом купцов Забориных{% endblock %}

{% block text %}
<div style="font-size: 125%;">
    <div class="pt-3" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
        <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"height":540,"width":1203,"zoom":17,"queryString":"улица Энгельса, 3А, Ульяновск, Россия","place_id":"ChIJn32BSms3XUERQPJ4phoXivU","satellite":false,"centerCoord":[54.311189972108885,48.38315134999999],"cid":"0xf58a171aa678f240","lang":"ru","cityUrl":"/russia/ulyanovsk-36692","cityAnchorText":"Карта [CITY1], Volga Federal District, Россия","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"164192"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://1map.com/js/script-for-user.js?embed_id=164192';
        s.async = true;
        s.onload = function (e) {
            window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
    })();</script><a href="https://1map.com/ru/map-embed?embed_id=164192">1 Map</a></div>
    <br>
    <p>Сейчас здесь, со стороны переулка Комсомольский, &ndash; старинная аптека, а с другой &ndash; уже на улице Энгельса &ndash; корпус политехнического университета.Часть здания, обращённая к переулку &ndash; доходный дом. Буквально &mdash; дом, который приносил доход, то есть прибыль от сдаваемых в аренду помещений. Дом с одной стороны &ndash; &laquo;птичий&raquo; (его венчают статуи хищных птиц), а с другой, как сказал другой известный краевед Борис Аржанцев, &ndash; в стиле пламенеющей готики. Время постройки &ndash; это рубеж 19-20 веков и начало 20-го века.</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-18.userapi.com/c205324/v205324912/7c6d1/o_eb7tCOrqI.jpg"/>
    </div>
    <p>Здание в Комсомольском переулке стало известно тем, что именно в нем открылась первая, говоря современным языком, муниципальная аптека в городе. До этого были либо частные, либо государственные.</p>
    <p>Часть помещений занимали гостиничные номера &laquo;прогресс&raquo;. Главным же источником дохода были арендаторы, например, акцизная контора &mdash; а у этой организации деньги никогда не переводились.</p>
    <p>Доходный дом Забориных находится в одном ансамбле со зданием Ульяновского технического университета. Что интересно, первоначально оно строилось именно как учебное учреждение (проект, скорее всего, разрабатывал архитектор Август Шодэ).</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-72.userapi.com/c205324/v205324912/7c6db/fROU0tESvgo.jpg"/>
    </div>
    <p>Здесь должны были готовить землемеров для проведения столыпинской аграрной реформы. С уходом самого реформатора училище решено было достроить, но тут началась первая мировая война, средств стало не хватать. Чтобы спасти строительство, Василий Заборин применил на практике весьма креативную схему.</p>
    <p>Он построил первый этаж, заложил его, на вырученные деньги построил второй этаж, заложил уже двухэтажное здание (разумеется, гораздо дороже), на эти деньги построил третий этаж и выполнил отделку здания. Долги возместил, когда дом начал приносить доход.</p>
    <p>Пока училище строилось, часть помещений доходного дома Забориных отводили для занятий. В революцию семье купцов пришлось покинуть Россию. А здание &ndash; одно из самых крупных в центре города &mdash; в 1943 году (год образования Ульяновской области!) заняло местное правительство: обком, облисполком и комсомольская областная организация.</p>
    <div class="text-center p-3"><img class="img-fluid" src="{{ url_for('static', filename='img/domZ/1.jpg') }}"/>
</div>
{% endblock %}

{% block images %}{% endblock %}