{% extends '_base_article.html' %}

{% block title %}Дом Гончарова{% endblock %}
{% block article_title %}Дом Гончарова{% endblock %}

{% block text %}
<div class="pt-3" style="font-size: 125%;">
    <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
        <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"height":540,"width":1203,"zoom":15,"queryString":"Дом Гончарова, Ульяновск, Россия","place_id":"ChIJG-yz9Ww3XUERy6DdjDz8kLI","satellite":false,"centerCoord":[54.311189972108885,48.38315134999999],"cid":"0xb290fc3c8cdda0cb","lang":"ru","cityUrl":"/russia/ulyanovsk-36692","cityAnchorText":"Карта [CITY1], Volga Federal District, Россия","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"164192"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://1map.com/js/script-for-user.js?embed_id=164192';
        s.async = true;
        s.onload = function (e) {
            window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
    })();</script><a href="https://1map.com/ru/map-embed?embed_id=164192">1 Map</a></div>
    <br>
    <p>В Симбирске-Ульяновске на протяжении трёх веков функцию самого узнаваемого здания успешно выполняет построенный в начале XIX века Дом Гончарова.</p>
    <div class="text-center p-3"><img class="img-fluid" style="max-height: 75%; max-width: 75%";" src="https://sun9-52.userapi.com/c205324/v205324912/7c635/V9RuuDidZX0.jpg"/>
    </div>
    <h2 class="m-3">Век первый - &laquo;гончаровский&raquo;</h2>
    <p>Точная дата постройки дома, к сожалению, не сохранилась. Но на городских планах Симбирска конца XVIII века уже было обозначено белое каменное здание в два этажа, собственником которого являлась семья Гончаровых.</p>
    <p>В 1855-м году братья Иван и Николай оформили &laquo;раздельную запись&raquo; на дом, в которой указывалось, что &laquo;имение дробности по закону не подлежит&raquo;. Право собственности переходило к старшему сыну.</p>
    <p>После пожара 1864 года дом значительно пострадал: был поврежден фасад и практически полностью сгорели многочисленные надворные постройки. В связи с необходимостью, Гончаровы приняли решение о продаже дома, который в последствие перекупался несколько раз.</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-39.userapi.com/c854420/v854420545/215658/_kjLyf6IuGE.jpg"/>
    </div>
    <p>&laquo;Многие жители города отказывались не только от нового строительства домов, но даже от ремонта обгоревших каменных. Так был продан каменный дом на углу Большой Саратовской и Московской улиц, в котором родился известный писатель Иван Александрович Гончаров и в котором до пожара проживал его брат&raquo;, - писал в своей книге &laquo;Архитектурно &ndash; исторические образы Симбирска&raquo; Борис Аржанцев.</p>
    <p>В 1865 году Николай Гончаров продал домовладение мещанину М.П.Полякову и купчихе 2-й гильдии П.М.Лебедевой. Сразу после покупки дом был заложен, и в марте 1868-го года отдан в опекунское управление. С декабря 1872 года дом перешел в руки жены надворного советника Л.Д.Жигаревой, которая занялась перестройкой и ремонтом усадьбы. При ней была построена каменная прачечная, убран подъезд со стороны улицы Большая Саратовская, обложен кирпичом деревянный флигель и выкрашена крыша. В ноябре 1874 года обновленный дом перешел к помещику И.Ф. Ахматову.</p>
    <p>В июне 1880 года дом приобретает купец Карл ЮРГЕНС. Через некоторое время двухэтажное здание перестраивают, добавляя еще этаж и практически полностью изменяя внешний вид. При этом использовались стены старого дома, включая внутренние. Также сохранили внутреннюю планировку, в то время как наружные стены выложили новой кирпичной кладкой, расширили оконные проемы и сделали пристройки с восточной и южной сторон. На первом этаже теперь располагался один из магазинов Юргенса, в котором продавали канцелярские и музыкальные товары, мебель, оружие, велосипеды и другие пользующиеся спросом товары.</p>
    <p>Только лишь в 1904 году дом был оборудован водопроводом и канализацией. Примерно в то же время по заказу братьев Юргенсов изготовили доску из черного шведского гранита (работы Ботта в Петербурге) с барельефом Ивана Гончарова (скульптор Б.Микешин). Само изображение писателя было отлито из бронзы в художественной мастерской В.Гаврилова в Санкт-Петербурге. Доска с текстом: &laquo;Здесь родился Иван Александрович Гончаров 6-го июня 1812 г.&raquo; была установлена 16 сентября 1907 года на уровне второго этажа на северо-западном углу перестроенного дома.</p>
    <h2 class="m-3">Век второй, переходный</h2>
    <p>В 1911 году дом продали симбирскому купцу А.Балакирщикову, после чего была произведена перестройка нижнего этажа. Появилось три новых входа со стороны Большой Саратовской улицы (утрачены в конце 50-х годов XX века). Через три года установили электрическое освещение в помещениях, которые занимала гимназия Кашкадамовой.</p>

    <p>Вторая половина XIX века стала для дома временем, когда сложно было определить, какое учреждение разместится в его помещениях следующим. Торговые, банковские, государственные отделения сменяли друг друга: в 1872 году - правление Симбирского общества взаимного кредита, с 1902 года - Симбирское губернское акцизное управление; в 1910 году на первом этаже располагались магазины, на втором и третьем - отделение Дворянского земельного и Крестьянского поземельного банков, женская гимназия В.Кашкадамовой, типография и частная квартира. После 1918 года дом муниципализировали.</p>
    <p>В 1920-1923 годах в нем располагался Симбирский пролетарский университет, типография № 1, Центрокурсы, 9-я школа I ступени и по некоторым данным - политехнические курсы. Кроме этого, здесь было 12 квартир и 36 жителей. С конца 1960-х годов в доме располагалась седьмая средняя школа имени В.Кашкадамовой, позднее - первая вечерняя средняя школа.</p>
    <p>Последним изменением внешнего вида стало появление в 1974 году башенки с городскими часами-курантами. Проект был предоставлен архитектором С.Титовым, который предложил функционально использовать место над крышей северо-западного углового участка. С тех самых пор дом Гончарова стали называть домом с часами, а позднее &ndash; ульяновским Биг-Беном.</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-46.userapi.com/c205324/v205324912/7c621/9rQ1uPsMOFE.jpg"/>
    </div>
    <h2 class="m-3">Третий век: современность</h2>
    <p>С 2009 года по настоящее время в здании располагается Историко-мемориальный центр-музей И.А.Гончарова. Первый и единственный известного писателя в Ульяновске был открытый в 1982 году и занимал только первый этаж здания.</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-3.userapi.com/c205324/v205324912/7c60f/hIrY9sABM0I.jpg"/>
    </div>
    <p>Дом-музей активно развивается, с каждым годом внося изменения в постоянные экспозиции. Кроме того, здесь проводятся постоянные гончаровские программы, связанные как с самим писателем, так и его произведениями. Экскурсии по обновлённым экспозициям ведут потрясающие экскурсоводы. Экспозиции наполнены подлинными вещами и предметами быта того времени. Думается, не каждый ульяновец представляет себе, что находится внутри &laquo;Биг-Бена&raquo;.</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-34.userapi.com/c854420/v854420545/21563a/8jJd5Zl4Wtk.jpg"/>
    </div>
    <p>На самом деле внутри здания скрываются поистине достойные экспозиции. Их семь: Вводный зал (здесь посетители узнают об истории Дома Гончаровых); "Симбирский" зал, посвященный детским и юношеским годам И.А.Гончарова; &laquo;Приезд в Петербург&raquo; (первые годы писателя в Петербурге); Фрегат "Паллада" - рассказ о путешествии Гончарова на фрегате &laquo;Паллада&raquo; (1852-1855 гг.); Центральный зал с экспозицией по роману &laquo;Обломов&raquo;; экспозиции "Обрыв" и &laquo;Последние годы жизни&raquo; писателя.</p>
    <h2 class="m-3">Мемориальная экспозиция «И. А. Гончаров и Симбирск (1810-30-е гг.)»</h2>
    <p>
        Великий русский писатель Иван Александрович Гончаров родился в Симбирске 6 (18) июня 1812 года в семье купца 3 гильдии Александра Ивановича Гончарова и Авдотьи Матвеевны Гончаровой, урожденной Шахториной. В доме на Большой Саратовской прошло его детство. Сюда он приезжал на каникулы московским студентом. В 1834-35 гг. в Симбирске начал службу секретарём губернской канцелярии.
        Экспозиция, рассказывающая о детских и юношеских годах И. А. Гончарова в Симбирске разместилась в мемориальной части здания. В сохранившихся комнатах дома Гончаровых воссоздана типологическая обстановка, дающая представление о жизни семьи, с включением мемориальных предметов. Среди восстановленных комнат «Кабинет отца писателя», «Комната матери», «Детская», «Столовая»,
        «Кабинет и гостиная крёстного отца детей Гончаровых Н. Н. Трегубова» и др. В этой части экспозиции представлены уникальные семейные реликвии: «Летописец семьи Гончаровых (1720-е –1889 гг.)» – подлинная рукописная книга, которую начал вести ещё дед писателя, подлинные портреты матери писателя и Н. Н. Трегубова работы неизвестного художника начала XIX в.</p>
    <div class="row m-3">
        <div class="col-md-6"><div class="text-center"><img class="img-fluid mb-3" src="https://sun9-12.userapi.com/c854420/v854420545/215680/HzU_gNoeqOU.jpg"/>
        </div></div>
        <div class="col-md-6"><div class="text-center"><img class="img-fluid" src="https://sun9-32.userapi.com/c854420/v854420545/21568a/JNnIXGz6MA4.jpg"/>
        </div></div>
    </div>
    <div class="row m-3">
        <div class="col-md-6"><div class="text-center"><img class="img-fluid mb-3" src="https://sun9-27.userapi.com/c854420/v854420545/215630/koFk63MpsLc.jpg"/>
        </div></div>
        <div class="col-md-6"><div class="text-center"><img class="img-fluid" src="https://sun9-25.userapi.com/c854420/v854420545/2156a8/BL9ym2I5BlM.jpg"/>
        </div></div>
    </div>
    <h2 class="m-3">Историко-мемориальная экспозиция
        «Петербургский период жизни и творчества И. А. Гончарова» (1840-80-е гг.)</h2>

    <p>С 1835 г. и до конца своих дней И. А. Гончаров жил в Петербурге. Экспозиция, рассказывающая об этом периоде жизни и творчества писателя, разместилась в помещениях второго этажа немемориальной части здания (пристроя к дому Гончаровых конца XIX века). Она воссоздает неповторимое своеобразие судьбы, личности и творчества писателя в контексте эпохи, представляет сложную и многогранную личность
        И. А. Гончарова как великого писателя, крупного чиновника и общественного деятеля, путешественника и дипломата. Здесь документальный материал дополнен включением мемориальных предметов, принадлежавших писателю, его  родным и близким. Особо выделены пространственно-мемориальные комплексы, состоящие полностью из мемориальных вещей.</p>
    <div class="row m-3">
        <div class="col-md-6"><div class="text-center"><img class="img-fluid mb-3" src="https://sun9-72.userapi.com/c857736/v857736793/1c45d6/p8RytJ3p8nM.jpg"/>
        </div></div>
        <div class="col-md-6"><div class="text-center"><img class="img-fluid" src="https://sun9-65.userapi.com/c857736/v857736793/1c45a4/55EVh62lgIQ.jpg"/>
        </div></div>
    </div>
    <div class="row m-3">
        <div class="col-md-6"><div class="text-center"><img class="img-fluid mb-3" src="https://sun9-38.userapi.com/c857736/v857736793/1c459a/9Rk0RkAyj1U.jpg"/>
        </div></div>
        <div class="col-md-6"><div class="text-center"><img class="img-fluid" src="https://sun9-48.userapi.com/c857736/v857736793/1c45cc/Wmj7zoCsrww.jpg"/>
        </div></div>
    </div>
    <div class="row m-3">
        <div class="col-md-6"><div class="text-center"><img class="img-fluid mb-3" src="https://sun9-71.userapi.com/c857736/v857736793/1c45b8/3auMF56smcY.jpg"/>
        </div></div>
        <div class="col-md-6"><div class="text-center"><img class="img-fluid" src="https://sun9-19.userapi.com/c857736/v857736793/1c45c2/wkFSrnuczRM.jpg"/>
        </div></div>
    </div>
    <h2 class="m-3">Документальная экспозиция «Герои И. А. Гончарова в современном мире»</h2>
    <p>Часть немемориальных помещений первого этажа здания занимает документальная экспозиция «Герои И. А. Гончарова в современном мире». Она рассказывает о богатом творческом наследии писателя, увековечении памяти Гончарова и его романов,
        о современной жизни гончаровских героев.</p>
    <p>Здесь представлена богатейшая коллекция материалов, свидетельствующих о непреходящем интересе к творчеству И. А. Гончарова в мире: издания романов И. А. Гончарова на разных языках и исследования жизни и творчества писателя, уникальное собрание иллюстраций,
        материалов о российских и зарубежных фильмах и театральных постановках по произведениям И. А. Гончарова.</p>
    <p>В отдельном зале собраны материалы, свидетельствующие о необыкновенной популярности самого знаменитого героя Гончарова – И.И. Обломова, его присутствии в самых разных, порой совершенно далёких от литературы сферах человеческой жизни (рестораны, мебель, футбол, интернет и пр.).
        Эту экспозицию по праву можно назвать музеем Обломова.</p>
    <p>В разделе «Увековечение памяти И. А. Гончарова в Симбирске-Ульяновске» демонстрируется самое полное на сегодняшний день Родословное древо семьи Гончаровых, рассказывается о памятных местах, связанных с именем великого земляка,
        традициях чествования И. А. Гончарова на родине международного, всероссийского и регионального значения.</p>
    <div class="text-center"><img class="img-fluid" src="https://sun9-61.userapi.com/c854420/v854420545/2156b2/cxFHkJSA3uw.jpg"/>
    </div>
    <h2 class="m-3">Музей "История симбирских городских часов"</h2>
    <div class="row">
        <div class="col-md-8">
        <p>Экспозиция, отражающая различные периоды истории башенных часов Симбирска-Ульяновска, располагается в двух помещениях, непосредственно примыкающих к башне часового механизма,
            который сам является действующим экспонатом.</p>
        <p>Башенные часы – уникальная реликвия города. Часы были изготовлены в 1868 году английской фирмой «T COOK&SONS, YORK&LONDON» и подарены городу Симбирску Санкт-Петербургским губернским предводителем дворянства графом
            В. П. Орловым-Давыдовым. В июле 1869 года башенные часы были установлены на колокольне Спасо-Вознесенского собора. При разрушении собора в 1930-х годах часы были демонтированы и перевезены в подвал здания горкомхоза, где пролежали до 1973 года,
            когда было принято решение об их восстановлении. Городские часы были торжественно пущены 12 сентября 1974 года. Они расположились в специально построенной башне на Доме Гончарова, напротив сквера,
            где до 1930-х годов стоял Спасо-Вознесенский собор.</p>
        <p>После восстановления куранты соединили в себе два исторических памятника – часовой механизм, подаренный городу В. П. Орловым-Давыдовым,
            и колокол Воскресенской церкви с. Головкино (Старомайнский район). Колокол весом 800 кг был отлит симбирским купцом  Г. Шаминым в 1785 году.</p>
        <p>Посетителям экспозиции предлагается фильм, в котором соединены кадры кинохроники, рассказывающей о торжественном открытии башенных часов , и современной съёмки, позволяющей рассмотреть часы на Доме Гончарова
            с близкого расстояния и даже – «заглянуть» внутрь башни, увидеть часовой колокол и услышать бой часов.</p>
        </div>
        <div class="col-md-4">
            <div class="text-center"><img class="img-fluid" src="http://www.uokm.ru/img/DSC_7566.jpg"/>
            </div>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-md-6"><div class="text-center"><img class="img-fluid mb-3" src="https://thumb.cloud.mail.ru/weblink/thumb/xw1/2i3Z/5fEKTnV8v/IMG_0828.JPG"/>
        </div></div>
        <div class="col-md-6"><div class="text-center"><img class="img-fluid" src="https://thumb.cloud.mail.ru/weblink/thumb/xw1/2i3Z/5fEKTnV8v/IMG_0830.JPG"/>
        </div></div>
    </div>






    <h2 class="m-3">Купеческий подвал</h2>
    <p>В помещении детально воспроизведен старинный интерьер. Попасть туда будет интересно потому, что это подлинный подвал дома Гончаровых с предметами быта того времени.</p>
    <div class="row m-3">
        <div class="col-md-6"><div class="text-center"><img class="img-fluid mb-3" src="https://sun9-37.userapi.com/c854420/v854420545/21566c/H5b0WaQTm2Q.jpg"/>
        </div></div>
        <div class="col-md-6"><div class="text-center"><img class="img-fluid" src="https://sun9-50.userapi.com/c857736/v857736539/1c1b71/KiHYZGuZ034.jpg"/>
        </div></div>
    </div>
</div>
{% endblock %}

{% block images %}{% endblock %}