{% extends '_base_article.html' %}

{% block title %}Дом-особняк барона{% endblock %}
{% block article_title %}Дом-особняк барона Х. Г. фон Штемпеля{% endblock %}

{% block text %}
<div style="font-size: 125%;">
    <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3" class="pt-3">
        <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"height":540,"width":1203,"zoom":15,"queryString":"улица Льва Толстого, 51, Ульяновск, Россия","place_id":"ChIJ96wfABQ3XUEROtpvg3w7n98","satellite":false,"centerCoord":[54.311189972108885,48.38315134999999],"cid":"0xdf9f3b7c836fda3a","lang":"ru","cityUrl":"/russia/ulyanovsk-36692","cityAnchorText":"Карта [CITY1], Volga Federal District, Россия","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"164192"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://1map.com/js/script-for-user.js?embed_id=164192';
        s.async = true;
        s.onload = function (e) {
            window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
    })();</script><a href="https://1map.com/ru/map-embed?embed_id=164192">1 Map</a>
    </div>
    <br>
    <p>Дом барона Штемпеля – яркий образец аристократического особняка, построен в 1906 году. Дом отделён от суеты и шума проезжей части высокой оградой с каменными столбами и металлической решёткой. Парадный фасад прост и торжественен, его украшает высокий цоколь. Дом выглядит внушительно и респектабельно.
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-36.userapi.com/c205324/v205324912/7c649/OA98-xo--10.jpg"/>
    </div>
    <p>Дом принято называть именем барона Штемпеля, который его построил, но прожил в особняке всего один год. Хотя это не совсем верно. Точнее было бы назвать дом именем жены барона – дворянки Половцевой, на чьи деньги дом и был построен.
    <p>Покупка участка в Симбирске и последующая стройка стали возможными после удачной сделки по продаже имения, которое располагалось на территории современного Вешкаймского района. В 1903 году Надежда Александровна Половцева продала земли известному в Симбирске фабриканту Якубу Акчурину (1153 десятины 1167 саженей) в селах Сретенки, Бутырки, Араповка и Калда.
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-43.userapi.com/c205324/v205324912/7c63f/1Elqkb41ZPw.jpg"/>
    </div>
    <p>На вырученные деньги в 1905 году и была приобретена усадьба на улице Московской. Что интересно, участок, на котором был вскоре построен дом, с 1878 по 1887 год принадлежал семье Ульяновых.
    <p>Территория участка была сквозной: на улицу Московскую (ныне улица Ленина) выходил деревянный дом (здесь с 1923 года размещается Дом-музей В.И. Ленина), а на Покровскую выходил большой сад, на территории которого вскоре и был выстроен двухэтажный каменный особняк. Проект дома заказали модному тогда архитектору Августу Шодэ. Дом был построен в стиле французского ренессанса.
    <p>Дом имеет Г-образную форму. Комнаты расположены анфиладой по периметру здания, разделенного продольной капитальной стеной. Угловой арочный аттик – основное украшение здания.
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-61.userapi.com/c205324/v205324912/7c67b/_49TzUiK3ig.jpg"/>
    </div>
    <p>Характерной особенностью особняка является установка на столбиках парапета небольших скульптурных ваз, а также прорисовка цепочек на штукатурке фасада стен второго этажа. Такой прием был использован Августом Шодэ и при проектировании здания краеведческого музея.
    <p>Однако попользоваться домом супруги Штемпель не смогли – слишком дорого он им обошелся. Сначала Штемпель решили сдавать часть особняка в аренду, а потом и вовсе продать.
    <p>В 1907 году особняк купил помещик Алексей Наумов, в 1917 году – купец Сергей Пирогов...
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-37.userapi.com/c205324/v205324912/7c671/WLKeXapjdIc.jpg"/>
    </div>
    <p>После национализации 1918 года в здании размещались различные учебные заведения. Во время капитального ремонта здания в 1940-1941 годах была произведена перепланировка внутренних помещений. С 1941 по 1992 годы в особняке размещались музеи посвященные Ленину. В настоящее время там расположен филиал Ульяновского областного художественного музея «Музей современного искусства имени А. А. Пластова».
</div>
{% endblock %}
