{% extends '_base_article.html' %}

{% block title %}Исчезнувшие здания в Ульяновске{% endblock %}
{% block article_title %}Исчезнувшие здания в Ульяновске{% endblock %}

{% block text %}
<h2>Исчезнувший с лица Ульяновска Троицкий собор</h2>
<div style="font-size: 125%;">
<div class="pt-3" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
    <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
    var setting = {"height":540,"width":1203,"zoom":15,"queryString":"площадь Ленина, Ульяновск, Россия","place_id":"Ej3Qv9C70L7RidCw0LTRjCDQm9C10L3QuNC90LAsINCj0LvRjNGP0L3QvtCy0YHQuiwg0KDQvtGB0YHQuNGPIi4qLAoUChIJ08JCEW83XUERT63KOObTXMESFAoSCfWzQo9fNl1BEeQbCUcI_1Ih","satellite":false,"centerCoord":[54.311189972108885,48.38315134999999],"cid":"0xc15cd3e638caad4f","lang":"ru","cityUrl":"/russia/ulyanovsk-36692","cityAnchorText":"Карта [CITY1], Volga Federal District, Россия","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"164192"};
    var d = document;
    var s = d.createElement('script');
    s.src = 'https://1map.com/js/script-for-user.js?embed_id=164192';
    s.async = true;
    s.onload = function (e) {
        window.OneMap.initMap(setting)
    };
    var to = d.getElementsByTagName('script')[0];
    to.parentNode.insertBefore(s, to);
})();</script><a href="https://1map.com/ru/map-embed?embed_id=164192">1 Map</a></div>
<br>
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-29.userapi.com/c205324/v205324912/7c4ee/hi5kKnRmymI.jpg"/>
</div>
<p>Свято-Троицкий собор начали возводить в 1824 году, закончили в 1841-м. Храм построили в честь победы в Отечественной войне 1812 года. Собор являлся ярким образцом русского классицизма, своим видом напоминая Исакиевский собор в Петербурге.</p>
<p>Собор работал вплоть до 1930 года. Через 3 года в уже закрытом здании произошёл сильный пожар. Точная дата разрушения неизвестна: по одним данным, его снесли в 1935</p>
<p>году, по другим &ndash; разобрали в 1936-м. Сейчас на месте Троицкого собора находится площадь Ленина.</p>
<div class="row">
    <div class="col-md-6"><div class="text-center"><img class="img-fluid" src="https://sun9-37.userapi.com/c205324/v205324912/7c4f5/d28wnX2aizY.jpg"/>
    </div></div>
    <div class="col-md-6"><div class="text-center"><img class="img-fluid" src="https://thumb.cloud.mail.ru/weblink/thumb/xw1/2cat/4jNmU2NzE/IMG_0795.JPG?x-email=alekss2001%40mail.ru"/>
    </div></div>
</div>
    <div class="thumb-wrap m-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/y5AylEjSLoA" frameborder="0" allowfullscreen></iframe>
    </div>
<h2 class="m-3">Исчезнувший Вознесенский собор</h2>
<p>Со второй половины 17 века на месте нынешнего сквера Гончарова стояла Вознесенская церковь. К середине XIX века после неоднократной перестройки церковь стала шестипрестольной и получила статус собора. На колокольне в 1869 году установили городские часы, подарок городу графа Орлова-Давыдова. Сейчас эти легендарные часы показывают время на Доме Гончарова, став одним из символов Ульяновска.</p>
<p>К 1903 году собор перестроили - новый храм получился более тяжеловесным и величественным. Однако спустя всего 20 лет собор закрыли, а в 1935 году &ndash; уничтожили полностью.</p>
<div class="row">
    <div class="col-md-6"><div class="text-center"><img class="img-fluid" src="https://sun9-38.userapi.com/c205324/v205324912/7c4fc/fCZbwk71i5c.jpg"/>
    </div></div>
    <div class="col-md-6"><div class="text-center"><img class="img-fluid" src="https://sun9-49.userapi.com/c205324/v205324912/7c503/h8qpkiCBD-I.jpg"/>
    </div></div>
</div>
<h2 class="m-3">ЦУМ и исчезнувший Гостиный двор</h2>
<p>В Ульяновске когда-то был даже свой Гостиный двор. Располагался он на Большой Саратовской - там, где сейчас находится ЦУМ. Строились торговые ряды с 1832 по 1836 годы петербургским архитектором Абрамом Мельниковым. В зданиях располагались лавки с подвалами для товара и антресольными этажами, использовавшимися для жилья приказчиков и совершения сделок.</p>
<p>До революции Гостиный двор исполнял роль главного торгового учреждения Симбирска. В 1921-1922 годах из-за голода и кризиса торговые ряды оказались заброшенными. Позже</p>
<p>часть здания отремонтировали, и до 60-х годов Гостиный двор существовал. Однако в 1965 году его снесли, а через 5 лет на этом месте построили Центральный универмаг.</p>
<div class="row">
    <div class="col-md-6"><div class="text-center"><img class="img-fluid" src="https://sun9-58.userapi.com/c205324/v205324912/7c50a/kVDpx_zTRi8.jpg"/>
    </div></div>
    <div class="col-md-6"><div class="text-center"><img class="img-fluid" src="https://sun9-18.userapi.com/c857232/v857232841/f4151/sDAxhJw8eis.jpg"/>
    </div></div>
</div>
<h2 class="m-3">Кремль</h2>
<p>История Симбирска-Ульяновска помнит не только Гостиный двор, но и Кремль. Его построили ещё в те времена, когда город назывался Синбирск, и представлял собой одну большую крепость. В центре городка располагался деревянный Кремль, его ограда состояла из прочных стен, вала и глубокого рва.</p>
<p>Кремль был центром военной, административной, судебной и церковной власти всего уезда. За его территорией жили посадские люди, стрельцы и строители города. Крепость имела вид прямоугольника с большей стороной по Венцу. В Кремле было 8 башен - 4 угловых и 4 в стенах. Крепость закончила боевую службу в 1759 году, - гарнизон был снят, а пушки свезены в Уфу. Спустя несколько лет стали разбирать развалившиеся остатки Кремля.</p>
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-22.userapi.com/c205324/v205324912/7c511/e-EjRf-v1MQ.jpg"/>
</div>
<h2 class="m-3">Исчезнувший Спасский Монастырь</h2>
<p>Спасский Новодевичий монастырь основали ещё в первые годы жизни Симбирска - первое упоминание об обители относится к 1663 году. Женский монастырь располагался он в квартале между улицами Спасской, Чебоксарской (Бебеля) и Дворцовой (Карла Маркса). В комплекс монастыря входило несколько храмов - Спаса Нерукотворного, Святого Алексея Московского и Иверской Божьей Матери. Последний считался одним из красивейших в Симбирске: пятиглавый, в византийском стиле, с высокой колокольней.</p>
<p>Во время своего приезда в Симбирск обитель посетил Александр Пушкин, который собирал в Поволжье материалы для истории Пугачевского бунта. С 1847 в Спасском монастыре открыли училище для девиц-сирот духовного звания. В пожаре 1864 года обитель выгорела, после чего была восстановлена.</p>
<p>В 1920 году монастырь закрыли по постановлению Губисполкома, а жилые и хозяйственные постройки отдали под жилье работников патронного завода. В 30-х годах храмы разобрали на стройматериалы, а в 1960-х на территории монастыря возвели Дворец профсоюзов &ndash; нынешний дворец &laquo;Губернаторский&raquo;. В итоге до наших дней сохранилось лишь здание игуменского корпуса &ndash; сейчас это подворье Спасского монастыря. Правда, в 2015 году митрополит Феофан заявил о восстановлении обители, и Иверского храма в частности.</p>
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-47.userapi.com/c205324/v205324912/7c519/f_MT_exxSFw.jpg"/>
</div>
<h2 class="m-3">Исчезнувший Николаевский собор</h2>
<p>Во время основания Симбирска в городе построили и первый храм. Когда крепость осаждал Степан Разин, служители храма возглавили крестный ход вокруг города - прямо под обстрелом разбойников. В 1694 году во время большого пожара деревянный собор сгорел дотла. Новый храм решили строить из камня. Строительство завершили в 1712 году.</p>
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-26.userapi.com/c205324/v205324912/7c521/Y4vDj4Lkz5E.jpg"/>
</div>
<p>До 1844 года этот собор считался главным и именовался Свято-Троицким. После возведения рядом нового летнего Свято-Троицкого собора его переименовали во имя Святителя Николая Мирликийского Чудотворца, и с тех пор он назывался уже Николаевским собором. В соборе были погребены второй, третий и пятый епископы Симбирской епархии. Собор уничтожили в 1920-х годах.</p>
</div>
{% endblock %}
