{% extends '_base_article.html' %}

{% block title %}Краеведческий музей{% endblock %}
{% block article_title %}Краеведческий музей{% endblock %}

{% block text %}
<div class="pt-3" style="font-size: 125%;">
    <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
        <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"height":540,"width":1203,"zoom":15,"queryString":"б-р Новый Венец, 3/4, Ульяновск, Россия","place_id":"EkLQsS3RgCDQndC-0LLRi9C5INCS0LXQvdC10YYsIDMvNCwg0KPQu9GM0Y_QvdC-0LLRgdC6LCDQoNC-0YHRgdC40Y8iMBIuChQKEgmfarEXbjddQRG40051K2ioDRADKhQKEgnJGvClbzddQRGP09uQ7Fay2Q","satellite":false,"centerCoord":[54.311189972108885,48.38315134999999],"cid":"0x6815324d1f2c6c3","lang":"ru","cityUrl":"/russia/ulyanovsk-36692","cityAnchorText":"Карта [CITY1], Volga Federal District, Россия","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"164192"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://1map.com/js/script-for-user.js?embed_id=164192';
        s.async = true;
        s.onload = function (e) {
            window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
    })();</script><a href="https://1map.com/ru/map-embed?embed_id=164192">1 Map</a></div>
    <br>
    <p>Областное государственное бюджетное учреждение культуры «Ульяновский областной краеведческий музей имени И. А. Гончарова» — краеведческий музей в городе Ульяновске. Расположен в одном здании с Ульяновским областным художественным музеем.
    </p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-56.userapi.com/c205324/v205324912/7c784/XW8RQ1xt_PA.jpg"/>
    </div>
    <br>
    <h2 class="m-3">История</h2>

    <p>Ульяновский областной краеведческий музей имени И. А. Гончарова ведёт свою историю с 1895 г., когда был создан историко-археологичесикй музей Симбирской учёной архивной комиссии. Официальное открытие состоялось 1 января 1896 г., но приём посетителей начался с декабря 1895 г. Поэтому традиционной датой рождения музея считается декабрь 1895 года.
    </p>
    <p>Основу коллекции музея заложили частные пожертвования, самыми крупными из которых были археологическая коллекция крупного симбирского помещика и мецената В.Н Поливанова и нумизматическая — А. В. Толстого. В пополнении фондов музея в дальнейшем активно участвовали историк-краевед П. Л. Мартынов, А. К. Яхонтов, В. Э. Красовский и многие другие исследователи истории и природы Симбирского края.
    </p>
    <p>В начале 20 века в Симбирске были созданы ещё два музея: Областной естественно-исторический и церковный. В марте 1918 года было принято решение об их объединении и создании единого Народного музея, который в 1932 году официально стал называться краеведческим.
    </p>
    <p>С 1918 года он располагается в доме-памятнике И. А. Гончарову, построенном специально для музея архивной комиссии в 1912—1915 годах по проекту местного архитектора А.А Шодэ, на средства, собранные по Всероссийской подписке. Здание расположено в центральной части города на Венце и обращено главным фасадом к Волге. В 1956 году музею присвоено имя И. А. Гончарова. В 1970—1990-е гг. были открыты следующие филиалы Краеведческого музея: в 1974 г. — музей «Конспиративная квартира Симбирской группы РСДРП(1904—1906 гг.)», в 1982 г. — музей И. А. Гончарова, в 1990 г. — Ундоровский палеонтологический музей, в 1999 г. — Литературный музей «Дом Языковых». В 2003 г. в р.п. Языково был открыт комплекс «Усадьба Языковых».
    </p>

    <h2 class="m-3">Настоящее время</h2>

    <p>В настоящее время фонды музея насчитывают около 142 тысяч единиц хранения. Уникальную часть фонда составляют: археологическая и палеонтологическая коллекции; коллекции тканей и народного костюма конца 18 — середины 20 веков; нумизматики, фотографий, оружия; документов, предметов материальной культуры 19 — 20 вв.; коллекция рукописей, книг, акварелей, рисунков и личных вещей декабриста В. П. Ивашева (1798—1841) и его известных потомков М. В. Трубниковой и О. В. Булановой; коллекция личных вещей И. А. Гончарова (1812—1896) и его родственников; личный архив ученого-энтомолога, профессора А.А Любищева (1890—1972), проведшего в Ульяновске последние годы жизни; изобретателя-самоучки Е. Е. Горина (1877—1951); государственного деятеля, первого председателя Симбирского губисполкома В. Н. Ксандрова; коллекция материалов ученого-орнитолога, охотоведа и исследователя Севера С. А. Бутурлина (1872—1938); дважды Героя Советского Союза И. С. Полбина и др.
    </p>
    <div class="row">
        <div class="col-md-6"><div class="text-center"><img class="img-fluid" src="https://sun9-23.userapi.com/c205324/v205324912/7c770/KUUJ0q9efCI.jpg"/>
        </div></div>
        <div class="col-md-6"><div class="text-center"><img class="img-fluid" src="https://sun9-59.userapi.com/c205324/v205324912/7c766/_ZfdQ4sicoc.jpg"/>
        </div></div>
    </div>
    <br>
</div>
{% endblock %}