{% extends '_base_article.html' %}

{% block title %}Памятник Нариманову{% endblock %}
{% block article_title %}Памятник Нариманову{% endblock %}

{% block text %}
<div style="font-size: 125%;">
    <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
        <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"height":540,"width":1203,"zoom":16,"queryString":"Ульяновская областная научная библиотека им. В.И. Ленина, Дворянский пер., 3/2, Ульяновск, Россия","place_id":"ChIJ8-j5Pm43XUER_DlgzB3ToTs","satellite":false,"centerCoord":[54.33314772212675,48.3857285],"cid":"0x3ba1d31dcc6039fc","lang":"ru","cityUrl":"/russia/ulyanovsk-36692","cityAnchorText":"Карта [CITY1], Volga Federal District, Россия","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"177456"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://embedgooglemap.1map.com/js/script-for-user.js?embed_id=177456';
        s.async = true;
        s.onload = function (e) {
            window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
    })();</script><a href="https://embedgooglemap.1map.com/ru?embed_id=177456">1 Map</a></div>
    <br>
<p>Бывший симбирский Казанский тракт получил имя Нариманова в день его смерти в 1925 году. Нариманов с 1922 года являлся одним из председателей ЦИК СССР, а до этого руководил революционным движением в Закавказье, боролся за установление в регионе советской власти и возглавлял Совнарком Азербайджанской республики. Кроме того, советский государственный деятель много времени посвящал и занятиям литературой: перевел на тюркский язык известнейшие произведения русской литературы, к примеру, «Ревизора» Гоголя, и создал ряд повестей и пьес.
</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-8.userapi.com/c855420/v855420889/1f1f79/2GU5QEPxBlg.jpg"/>
    </div>
<p>Памятник на проспекте Нариманова появился позже — в 1977 году. Композиция из красного гранита, созданная скульптором Асланом Рустамовым, была подарком азербайджанского народа нашему городу. Открывали подарок дружественного народа торжественно — на церемонии присутствовал руководитель Азербайджана Гейдар Алиев, ставший потом президентом этой страны.
</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-48.userapi.com/c855420/v855420889/1f1f6f/f_j3IOX0Wdg.jpg"/>
    </div>
<p>Это был крупный общественный и политический деятель, большевик, нарком иностранных дел (в 1920-1921 гг.), председатель СНК Азербайджанской ССР (в 1920-1922 гг.), а помимо этого еще и педагог, врач по образованию, крупный писатель и драматург, актер, выдающийся деятель культуры, просветитель и издатель.
</p>

<p>Нариман Нариманов родился в Тифлисе, в бедной азербайджанской семье и был младшим из девятерых детей. Его назвали в честь прадедушки Наримана Аллахверди, который, по сообщению грузинского поэта XIX в. Г.Орбелиани, был известным ханенде в Грузии.
</p>
<p>Более того, грузинский писатель князь Иоанн Багратиони в своей поэме “Калмасоба” ставит имя Наримана Аллахверди рядом с именем известного армянского поэта Саят-Новы, который на самом деле был азербайджанским ашугом.
</p>
<p>Мать Нариманова очень хотела отдать его в русскую школу, и отцу удалось, хотя и с трудом, определить сына в подготовительные классы при Горийской семинарии. Проучившегося три года мальчика определили на первый курс татарского отделения этой семинарии и после двух лет учебы перевели на основное трехгодичное отделение. Седьмого августа 1887 г. Нариманов в Менглисе начинает свой дневник перечнем любимых классиков азербайджанской, русской и мировой литературы.
</p>
<p>По окончании семинарии Нариманов намеревался продолжить образование в учительском институте, однако за два месяца до окончания учебного курса, 20 ноября 1889 г., скоропостижно скончался его отец. Эта смерть сильно повлияла на Наримана и он, отказавшись от желания продолжать образование, стал думать о семье, поскольку теперь она осталась без всяких средств к существованию.
</p>
<p>Но он все-таки закончил обучение со званием учителя начального училища и получил назначение в азербайджанское село Кызыл-Аджили Борчалинского уезда Тифлисской губернии, но проработал там недолго. В то время в Баку стали открываться частные русско-татарские школы. Намереваясь открыть в Баку одну из таких школ, Нариманов в 1891 г. переехал в Баку.
</p>
<p>По рекомендации ряда лиц, в том числе бывшего семинарского инспектора, его приняли на работу преподавателем младшего отделения подготовительного класса в частную Бакинскую прогимназию, открытую статским советником А.И. Победоносцевым. Здесь Нариманов принялся за преподавание азербайджанского и русского языков.
</p>
<p>Директор прогимназии положительно отзывался о Нариманове попечителю Кавказского учебного округа, уведомляя последнего, что этот учитель “известен дирекции в качестве умелого и добросовестного преподавателя и вполне добропорядочного человека”. В 1897 г. Нариманова наградили бронзовой медалью за добросовестную работу в гимназии.
</p>
<p>Нариманов вынашивал план создания национальной публичной библиотеки-читальни. Вместе с Султан Меджидом Ганизаде, Габиб-беком Махмудбековым и другими он стал собирать комплекты газет, а также произведения Низами, Фирдоуси, Саади, Хафиза, Физули, Вагифа, Бакиханова, Закира, М.Ф. Ахундова, С.А. Ширвани.
</p>
<p>В издательства, редакции газет и журналы различных стран он посылал письма, в которых ходатайствовал об оказании помощи в создании библиотеки. В ответ стали массово поступать газеты, журналы и книги не только из различных частей страны, но и из-за рубежа.
</p>
<p>Впоследствии в библиотеку также приходили некоторые запрещенными царским правительством издания: калькутский журнал “Хабль-ульматин” (“Прочные узы”), газеты “Иттифак” (“Союз”) из Софии, “Аль-Нил” (“Нил”) – из Каира, “Меламет” (“Осуждение”), “Терджуманихагигат” (“Переводчик правды”), “Хезинеифюнун” (“Сокровищница наук”), “Маариф” (“Просвещение”) и “Ахбар” (“Известия”) – из Стамбула.
</p>
<p>Усилия Нариманова увенчались тем, что в 1894 г. в Баку открылась первая в Азербайджане общедоступная библиотека-читальня с литературой на родном языке, превратившаяся в просветительский центр для мусульманского населения всего Кавказа. Точная дата, когда была открыта библиотека, неизвестна, но исследователи относили ее к 1 августу 1894 г. Эта точка зрения, по крайней мере, подкрепляется сведениями бакинского полицмейстера, сообщавшими в 1897 г. в одном из документов о наличии с 1 августа 1894 г. библиотеки-читальни учителя Нариманова, которая располагалась в доме Гянджунцева.
</p>
<p>В другом архивном документе, за 1895 г., датой открытия читальни указано 11 января. По мнению В.Агасиева, наиболее заслуживающим доверия служит прошение Нариманова на имя председателя училищной комиссии Бакинской городской думы. В этом прошении он, говоря о библиотеке, воспользовался материалом одного из фельетонов “Нового обозрения”, сообщавшим об открытии 12 апреля читальни. По сведениям указанного фельетона вход в читальню оценивался в 2 копейки, а для бедных был вовсе бесплатным; с 12 апреля по 1 октября 1894 г. ее посетили 3,833 человека.
</p>
<p>Первым азербайджанским библиотекарем стал ближайший помощник и воспитанник Нариманова – учитель Алискендер Джафарзаде. В народе библиотека получила название “Нариманова читальня”. Первоначально она располагалась по ул. Горчаковской (позднее ул. Г.З. Тагиева) в доме Керимова, а позже – в доме Лалаева, около Парапета (площадь Фонтанов).
</p>
<p>“Нариманова читальня” пользовалась большой популярностью среди населения. Армянский журнал “Мурдж” (“Молот”) писал: “Ни одна из армянских библиотек не располагает таким количеством читателей, каким располагает эта библиотека. К этому числу надо добавить и тех мулл и сеидов, которые стесняются посещать библиотеку и тайно получают газеты и журналы из указанной библиотеки в домах. Нужно собственными глазами видеть то, как газеты переходят из рук в руки и изнашиваются от массового потребления”.
</p>
<p>Тот же журнал сообщал, что с 8 апреля по 4 мая 1896 г. библиотеку посетило 710 человек, из которых 200 русских, 25 грузин, 135 приезжих мусульман, 151 бакинский мусульманин, 8 немцев, 5 французов и 40 евреев.
</p>
<p>В начале 1898 г. в газете “Каспий” сообщалось: “Библиотеку-читальню г. Нариманова в 1897 г. посетило: мусульман – 8 619, русских – 6 636, армян – 4 881 и других национальностей – 3 715, а всего – 25 849 лиц, более 1896 года на 4 840. Абонентов на чтение газет, книг и журналов было 326, на 42 более предшествующего года. В том же году библиотекой получалось: газет разных наименований на русском языке 12, персидском – 6 и турецком – 2; ежемесячных журналов на русском языке – 4; еженедельных русских – 5; персидских – 1 и турецких – 2. Приведенные цифры как нельзя более указывают на возрастающую у нас потребность в чтении.”
</p>
<p>Против деятельности читальни выступило духовенство. По заявлениям шейх-уль-ислама “плевелы укореняются в ущерб Божьему промыслу… Опрометчиво дозволенная в Баку библиотека Нариманова есть угрожающий очаг святотатства и неповиновения…”. Нариманова обвинили в развращении сознания молодежи, а сама библиотека была закрыта правительством 5 октября 1898 г. “за вредное направление”.
</p>
<p>В 90-е годы деятельность Нариманова носила разнообразный характер. По его инициативе каждый год устраивались благотворительные спектакли в “пользу недостаточных учащихся местных учебных заведений”. В связи с этим Нариманов написал несколько комедий на азербайджанском языке, а 15 января 1895 г. в Баку актерами-любителями впервые была поставлена его драма “Наданлыг”.
</p>
<p>В следующем году любительской труппой из “Наримановой читальни” впервые на азербайджанской сцене была поставлена пьеса Николая Гоголя “Ревизор”. Нариманов сам перевел на азербайджанский язык эту комедию и сыграл роль городничего.
</p>
<p>В 1899 г. Нариманов издал в Баку “Краткую грамматику тюркско-азербайджанского языка”, составив ее по образцу русской грамматики Л.Поливанова. Этот учебник в течение долгого времени служил пособием для обучения азербайджанских детей грамматике родного языка. В том же году вышел его второй учебник “Самоучитель русского языка”. В 1900-м – “Самоучитель татарского языка для русских”.
</p>
<p>Нариманов выступал за чистоту языка и резко критиковал тех, кто недооценивал свой язык. В одной из своих статей, опубликованных в газете, он образно выражал свою любовь: “Родной язык! Язык, на котором тебе признается в любви милое создание! Язык, звучность и приятность которого были услышаны тобой еще в виде “баю-бай”, который запечатлелся в самых глубоких уголках твоей души!”.
</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-43.userapi.com/c855420/v855420889/1f1f83/ZPbfJdvJs0Y.jpg"/>
    </div>
<p>После закрытия в 1877 г. первой газеты на азербайджанском языке “Экинчи”, а затем последовательно других печатных изданий – “Зия”, “Зияи-Кавказия” и “Кешкюль”, в Азербайджане практически отсутствовали газеты для мусульман. С 1894-го и вплоть до 1902 г. Нариманов безуспешно пытался организовать издание газет и журналов на родном языке. Так, вместе с С.М. Ганизаде в 1896 г. он добивался права на издание детского журнала “Совгат” (“Подарок”), но безуспешно.
</p>
<p>Также безрезультатно в 1899-1900 гг. Нариманов ходатайствовал перед Главным управлением по делам печати о разрешении ему издавать на азербайджанском языке с параллельным переводом на русский еженедельную газету “Таза хабарлар” (“Свежие новости”). В следующем году он обратился за разрешением издавать научно-педагогический журнал “Мектеб” (“Школа”).
</p>
<p>Когда Нариманов в 1902 г. поступил на медицинский факультет Новороссийского университета, на втором курсе силами студентов поставил в торговом порту для матросов и грузчиков обличительную комедию Тургенева “Холостяк”, выступив в главной роли.
</p>
<p>По окончании университета он много лет работал врачом. По инициативе Гасан бека Зардаби и Нариманова в августе 1906 г. в Баку состоялся I съезд учителей-мусульман, на котором Нариманов был избран заместителем председателя съезда Зардаби. На съезде обсуждались важные вопросы народного образования. По предложению Нариманова съезд принял решения по вопросам преподавания азербайджанского языка: введение его как обязательного предмета в школах и увеличение числа уроков в неделю, уравнение преподавателей азербайджанского языка в правах с учителями других предметов, а также принятие учителей азербайджанского языка на работу и увольнение с согласия общественности.
</p>
<p>Дальнейшая деятельность Нариманова так или иначе связана с политикой и революционной деятельностью, однако в последующем он не оставлял вопросов культуры. Так, в 1908 г. он выступает с докладом “Гасан бек Зардаби и театр” в женской русско-татарской школе.
</p>
<p>В 1912 г. Нариманова избирают председателем Совета общества “Народных университетов” в Астрахани, куда он был сослан за революционную деятельность. Находясь в Астрахани, Нариманов вел активную культурно-просветительскую работу.
</p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-25.userapi.com/c855420/v855420889/1f1f8d/sEq3jFC_2CM.jpg"/>
    </div>
</div>
{% endblock %}