{% extends '_base_article.html' %}

{% block title %}Памятник Н. М. Карамзину{% endblock %}
{% block article_title %}Памятник Н. М. Карамзину{% endblock %}

{% block text %}
<div style="font-size: 125%;">
    <div class="pt-3" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
        <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"height":540,"width":1203,"zoom":15,"queryString":"Сквер Новый Венец, Спасская улица, г. Ульяновск, Россия","place_id":"ChIJXwqnkW43XUERkheX3S-IEok","satellite":false,"centerCoord":[54.311189972108885,48.38315134999999],"cid":"0x8912882fdd971792","lang":"ru","cityUrl":"/russia/ulyanovsk-36692","cityAnchorText":"Карта [CITY1], Volga Federal District, Россия","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"164192"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://1map.com/js/script-for-user.js?embed_id=164192';
        s.async = true;
        s.onload = function (e) {
            window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
    })();</script><a href="https://1map.com/ru/map-embed?embed_id=164192">1 Map</a></div>
    <br>
    <p>Памятник Н. М. Карамзину — монумент, установленный в Симбирске в 1845 году в честь уроженца Симбирской губернии русского историка и писателя Николая Михайловича Карамзина. Автором проекта памятника является скульптор Самуил Иванович Гальберг.
    </p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-71.userapi.com/c205324/v205324912/7c798/kndYKHtbwNY.jpg"/>
    </div>
    <div class="thumb-wrap m-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BXDX_QM-KLY" frameborder="0" allowfullscreen></iframe>
    </div>
    <br>
    <h2 class="m-3">История создания</h2>
    <p>13 июня 1833 года симбирский губернатор А. М. Загряжский от имени 38 симбирских дворян подал прошение императору Николаю I о создании в Симбирске памятника Н. М. Карамзину с открытием общеимперской подписки по сбору средств на его сооружение. Вскоре согласие было получено, были собраны значительные средства, но решение, каким быть памятнику, затянулось.
    </p>
    <p>Император Николай I, побывавший 22 августа 1836 года в Симбирске самолично указал местонахождение памятника и повелел: «Заключить с профессором Академии художеств Гальбергом контракт на сделание в течение трех лет…. означенный памятник с барельефами, за выпрошенную им цену в 91800 рублей…» 550 пудов меди, нужных на сооружение памятника, отпускалось от казны.
    </p>
    <p>Лишь через два года профессор Гальберг приступил к работе, но, 10 мая 1839 года, Самуил Иванович Гальберг скончался, успев разработать проект памятника. Завершили дело профессора его ученики — выпускники Академии художеств: Н. А. Ромазанов, А. А. Иванов, П. А. Ставассер и К. М. Климченко. Статую музы Клио, покровительницы истории, выполнили А. А. Иванов и П. А. Ставассер. Один из горельефов и бюст Н. М. Карамзина, вылепил Н. А. Ромазанов, другой горельеф — К. М. Климченко. Пьедестал красного гранита из Финляндии был изготовлен в Петербурге мастером С. Л. Анисимовым. Статуя Клио, бюст историографа и горельефы отливались в бронзе в литейной мастерской Академии художеств под руководством профессора барона П. К. Клодта. Все детали памятника были доставлены в Симбирск в навигацию 1844 года, а следующей весной и летом были проведены работы по подготовке места и установке пьедестала.
    </p>
    <h5>Памятник был торжественно открыт 22 августа 1845 года (по старому стилю).</h5>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-68.userapi.com/c205324/v205324912/7c7ac/4Sfchwvd52c.jpg"/>
    </div>
    <br>
    <h2 class="m-3">Размеры и композиция памятника</h2>
    <p>Памятник был создан по обычаям того времени, в стиле классицизма. На пьедестале стоит величественная статуя музы истории Клио: правой рукой она возлагает на жертвенник бессмертия скрижали «Истории государства Российского» — главного труда Н. М. Карамзина, а в левой держит трубу, с помощью которой намерена вещать о славных страницах жизни России.
    </p>
    <p>В пьедестале памятника, в круглой нише, размещается бюст историка. Пьедестал украшен двумя горельефами. На северном К. М. Климченко изобразил Карамзина читающим отрывок из своей «Истории» Александру I в присутствии его сестры Екатерины Павловныво время пребывания императора в Твери в 1811 году. На другом, тоже в аллегорической форме, Николай Михайлович запечатлен на смертном одре в окружении своего семейства в тот момент, когда узнал о пожаловании ему Николаем I щедрого пенсиона. В соответствии с канонами классического стиля все фигуры памятника изображены в античных одеждах.
    </p>
    <h3>Надпись на пьедестале, выполненная накладными буквами, гласила:
    </h3>
    <p>Н. М. Карамзину историку Российского государства повелениемъ императора Николая I-го 1844 годъ.
    </p>
    <p>Общая высота монумента составляет 8,52 метра, из них высота пьедестала — 4,97 метра, статуи Клио — 3,55 метра.
    </p>
    <h2 class="m-3">Дальнейшая история памятника</h2>
    <p>Первоначально памятник обнесли деревянной решеткой, а в 1855 году, Аврора Карловна Карамзина, вдова старшего сына историографа, Андрея Николаевича, погибшего в Крымской войне, в его память, устроила богатую металлическую решетку с медными вызолоченными навершиями. После грандиозного пожара Симбирска площадь вокруг памятника, в 1866 году была окружена сквером, огражденным, в свою очередь, чугунной решеткой на каменном фундаменте.
    </p>
    <p>В 1931 году возникла опасность сноса памятника. К этому времени были сбиты верхние позолоченные медные окончания оград, сделано несколько выколов гранита, уничтожена надпись пьедестала и свинцовая расчеканка гранитных швов. Один из граждан, в городской газете писал: «имею указать на крупный кусок [цветного] металла в „бросовом состоянии“ в Ульяновске. Это статуя из меди в Карамзинском саду… Статуя должна быть снята и употреблена на подшипники…» Памятник удалось отстоять благодаря принципиальной позиции, занятой директором Естественно-исторического музея П. Я. Гречкиным и городским архитектором Ф. Е. Вольсовым.
    </p>
    <div class="text-center p-3"><img class="img-fluid" src="https://sun9-32.userapi.com/c205324/v205324912/7c7a2/S0BmPVaoeTc.jpg"/>
    </div>
    <p>В 1944 году на пьедестал вернули заново отлитые на одном из местных заводов медные буквы текста надписи, а в 1967 году памятник капитально отреставрировали. К сожалению, со времен реставрации окончание текста, «1844 годъ», было представлено как «1844 года». В этом искаженном виде мы видим надпись и поныне.
    </p>
</div>
{% endblock %}