{% extends '_base_article.html' %}

{% block title %}Сквер Гончарова{% endblock %}
{% block article_title %}Сквер Гончарова{% endblock %}

{% block text %}

<div style="font-size: 125%;">
    <div class="pt-3" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
        <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"height":540,"width":1203,"zoom":17,"queryString":"Сквер Гончарова, улица Ленина, Ульяновск, Россия","place_id":"ChIJN5dSjmw3XUERU3aOEGg_8fw","satellite":false,"centerCoord":[54.33314772212675,48.3857285],"cid":"0xfcf13f68108e7653","lang":"ru","cityUrl":"/russia/ulyanovsk-36692","cityAnchorText":"Карта [CITY1], Volga Federal District, Россия","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"177456"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://embedgooglemap.1map.com/js/script-for-user.js?embed_id=177456';
        s.async = true;
        s.onload = function (e) {
            window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
    })();</script><a href="https://embedgooglemap.1map.com/ru?embed_id=177456">1 Map</a></div>
<br>
<p>
    Сквер Гончарова находится в исторической части города, на пересечении улиц Гончарова (бывшая Большая Саратовская) и
    Ленина (бывшая Московская).
    Сквер был разбит на месте, где раньше располагался Спасо-Вознесенский собор, который снесли в 1935 году. По иронии
    судьбы,
    именно в этой церкви крестили Ивана Александровича Гончарова.
</p>
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-13.userapi.com/c854420/v854420545/2156f8/9Ai37hU0nmY.jpg"/>
</div>
<p> «В мае 1965 года в сквере на углу улиц Ленина и Гончарова неожиданно для горожан появилась новая скульптура,
    изображающая И.А. Гончарова сидящим в кресле», — писал краевед А.Н. Блохинцев.
</p>
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-39.userapi.com/c205324/v205324912/7c80c/gxGOwLSM5QY.jpg"/>
</div>
<p>
    Действительно, никакого открытия монумента не было. Его установили по-тихому, буднично — по заданию Горкомхоза.
    Майским утром ульяновцы с удивлением увидели, что в сквере «прописался» великий писатель.
    «Ульяновская правда» лишь полгода спустя, 14 ноября 1965 года, напечатала небольшую фотографию,
    которую сопровождали 10 пояснительных строчек, сообщавших, что «установлена новая скульптура,
    посвященная нашему знаменитому земляку».
</p>
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-58.userapi.com/c205324/v205324912/7c816/LeFTuduOFPI.jpg"/>
</div>
<p>
    28 октября 2005 года в сквере установили «Философский диван». Через какое-то время пришлось исправлять
    досадную оплошность — кто-то из «грамотеев» ошибочно написал «ФилосоВский». Диван был изготовлен из
    металлопластика по внешнему виду дивана XIX века, хранящегося в Ульяновском областном художественном музее.
    На торце диванного сидения разместились слова: «Здесь я окончательно постиг поэзию лени, и это — единственная
    поэзия,
    которой буду верен до гроба, если только нищета не заставит меня приняться за лом и лопату».
</p>
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-72.userapi.com/c205324/v205324912/7c820/YGQRzOqWKK4.jpg"/>
</div>
<p>
    Тема гончаровско-обломовского отдыха на диване получила свое продолжение. В дни празднования Дня города 12 июня 2006
    года
    перед диваном появились бронзовые тапочки. После реконструкции сквера летом—осенью 2011 года диван, тапочки и книга
    расположились на небольшом возвышении в его северо-западном углу.
    Но в ходе этой реконструкции сквер во многом утратил свою привлекательность.
</p>
</div>
    {% endblock %}