{% extends '_base_article.html' %}

{% block title %}Склеп Киндяковых{% endblock %}
{% block article_title %}Склеп Киндяковых{% endblock %}

{% block text %}
<div style="font-size: 125%;">
<div class="pt-3" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
    <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
    var setting = {"height":540,"width":1203,"zoom":14,"queryString":"Винновская Роща, Ульяновск, Россия","place_id":"ChIJg0WZcV82XUERe2rxzpgQwdg","satellite":false,"centerCoord":[54.311189972108885,48.38315134999999],"cid":"0xd8c11098cef16a7b","lang":"ru","cityUrl":"/russia/ulyanovsk-36692","cityAnchorText":"Карта [CITY1], Volga Federal District, Россия","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"164192"};
    var d = document;
    var s = d.createElement('script');
    s.src = 'https://1map.com/js/script-for-user.js?embed_id=164192';
    s.async = true;
    s.onload = function (e) {
        window.OneMap.initMap(setting)
    };
    var to = d.getElementsByTagName('script')[0];
    to.parentNode.insertBefore(s, to);
})();</script><a href="https://1map.com/ru/map-embed?embed_id=164192">1 Map</a></div>
<br>
<p>На карте города Ульяновска немало загадочных мест. Одно из них — подземелье в Винновской роще в Железнодорожном районе. Сооружение странной архитектуры служило то ли последним приютом членам барского семейства, то ли масонским храмом, то ли просто погребом. Овеянное легендами место в простонародье прозвали просто склепом.</p>
Скептики утверждают, что в прошлую эпоху здесь находился погреб. В нём бывшие баре Киндяковы хранили то ли вино, то ли картошку. Но с какой стати над погребом возводить огромный крест? Какими бы самодурами ни были члены легендарного семейства, богохульствовать, установив крест над складом овощей, они бы не стали.</p>
<p>Было время, когда ретивое партийное руководство решило покончить с каменным крестом. Пригнали гусеничный трактор, обвязали крест стальным тросом. Но, как ни тужилась мощная махина, изгибая крест, сломать его не получилось. В конце концов трос лопнул, а крест так и остался стоять — погнутый, но не поверженный.</p>
<p>Не исключено, что сооружение действительно является склепом. Доподлинно известно, что в Винновской роще похоронен как минимум один человек — Дженни Томпкинс, любимая гувернантка помещицы Кетлин-Эмилии Перси-Френч (1864-1938, симбирская помещица, подданная Великобритании, до революции владела Киндяковкой и Винновской рощей,
    ее имя переиначили на русский манер — Екатерина Максимилиановна) Помещица была чуть ли не самой влиятельной дамой в Симбирской губернии и очень щедрым меценатом, и души не чаяла в своей гувернантке, заменившей ей мать. Когда в 1893 году няня скончалась от старости, ее похоронили в Винновской роще. Где именно — история умалчивает.
    Но не исключено, что благодарная госпожа почтила память воспитавшей ее женщины внушительным склепом. Так что можно предположить, что в склепе покоится или покоилась мисс Дженни Томпкинс. Хотя вряд ли няня, упокоившаяся с миром, будет нагонять страх на случайных прохожих.</p>
<p>Сохранился не то слух, не.то быль, что каменный крест «убил» летчика. «Красный» авиатор погиб в июле 1918 года, во время Гражданской войны. Якобы зрелище креста на земле так его поразило, что он, отвлекшись, уже не смог вывести из пике свою «птицу». Похоронили его недалеко от места трагедии – возле того самого склепа.</p>
<p>Молва сохранила и другую историю. В годы сталинских репрессий в склепе поселился не то дедушка, не то старушка — то ли просто бомж, то ли редкий праведник, предрекавший скорую расплату за коллективизацию и безбожие. И за свои «прогнозы» был жестоко убит. Его ли неупокоенная душа бродит по Винновке по ночам, или это просто домыслы,
    но люди стараются обходить зловещее место стороной. Местные жители утверждают, что в том месте Винновской рощи, где установлен склеп, по ночам слышны крики, иные даже уверяют, что видели призрака.</p>
<p>Таинственный склеп пользовался дурной славой во все времена. В пору Великой Отечественной войны там «квартировала» большая семья беженцев. Несчастья шли за ними по пятам: похоронки, переломы, люди обваривались кипятком и погибали под колесами поезда… Из всего огромного семейства остались единицы, а те, кто выжил, съехали, тем самым оборвав цепь несчастий.</p>
<p>Но сооружение могло быть не только склепом. Не исключено, что оно там появилось куда раньше, чем владелицей поместья стала Екатерина Максимилиановна.</p>
<p>Крест из дикого камня был одним из символов масонов - «вольных каменщиков», могущественной всемирной организации.</p>
<p>Масонство отчасти похоже на христианство. Но только отчасти. Если христианство — религия для всех, то в масоны шли влиятельные люди, которые даже в вере не хотели шагать рука об руку с простым народом. Так и появилась эта вера для избранных, религиозное течение, куда могли вступить только сильные мира сего. О принадлежности к этому течению не принято было говорить вслух,
    люди хранили это в тайне. Однако известно, что один из предков Екатерины Максимилиановны, симбирский помещик Василий Афанасьевич Киндяков был выдающимся масоном. Он даже выстроил настоящий масонский храм у себя в имении. Храм был построен в виде беседки, и всем посторонним, кто оказывался в его владениях, Василий Афанасьевич запрещал туда входить под тем предлогом,
    что там находятся его личные вещи, которые ему не хотелось бы демонстрировать малознакомым людям. Возможно, беседка скрывала вход в подземелье, где проводились масонские ритуалы.</p>
<p>Сохранились фотографии храма-беседки — это фундаментальное сооружение, увенчанное скульптурой святого Иоанна Крестителя, особо почитаемого масонами. С четырех сторон были устроены барельефы — символические атрибуты бренности человеческой жизни: разбитая урна с текущей водой, изломанный якорь, залитая волнами ладья и человеческий череп с костями, а наверху,
    на красивом резном куполе, стоял гипсовый ангел с вызолоченным крестом — как символ вечности и спасения. Мало кто из симбирян знал, что это не просто архитектурные изыски, а знаки, имеющие тайный смысл. Разбитая урна с вытекающей из нее водой — символ уходящей жизни; изломанный якорь — крушение надежд и жизненных планов. А ладья — символ смерти, которую еще никто не смог перехитрить. Четвертый символ, человеческий череп с костями — традиционный масонский знак.</p>
<p>Самое значимое торжество масонов проходило в ночь на праздник Рождества Иоанна Крестителя — дату, известную в народе как праздник Ивана Купала. Ночь на Ивана Купалу традиционно связывалась в народном сознании с буйством нечистой силы, с цветением папоротника, нашествием ведьм, оборотнеи, колдунов и водяных. Главный праздник масонов, случайно совпавший с буйством нечисти,
    приверженцы культа старались провести под землей, чтобы спрятаться от посторонних глаз и всевозможной дьявольщины. Ведь из-за совпадения этих двух праздников масоны и пользовались дурной славой. В народе считали, что, если они празднуют что-то в «черный» день, то и течение это «темное», бесовское. А как оно было на самом деле в сводах подземелий — не расскажет никто.</p>
<p>Храм-беседка простояла до 30-х годов прошлого века. В народе ее именовали незатейливо -«статуйкой». И в прежнем Симбирске беседка пользовалась пугающей славой. Про нее рассказывали много страшных историй и говорили, что место это — неспокойное, черное.
<div class="text-center p-3"><img class="img-fluid" src="https://sun9-56.userapi.com/c205324/v205324912/7c8a2/t-LPkR8fbcg.jpg">
</div>
</div>
{% endblock %}
