<div class="header" id="header">
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark text-white">
        <a class="navbar-brand" href="/" align="center">Исторические места Ульяновска</a>

        <button class="navbar-toggler collapsed p-2" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul id="navitems" class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/test">Викторина</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/top">Рейтинг</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
