{% extends '_base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center rounded bg-dark text-white mt-3">
        <form action="/api/add-task" method="POST">
            Password <br><input type="password" name="password"><br><br>
            Task <br><input type="text" name="task"><br><br>
            Reference <br><input type="text" name="reference"><br><br>
            Answer <br><input type="text" name="answer"><br><br>
            Description<br>
            <textarea name="description"></textarea>
            <br>
            <button class="btn btn-outline-success" type="submit">Add task</button>
            <br><br>
        </form>
        <button class="btn btn-outline-success" id="clear_top">CLEAR TOP!</button>
        <button class="btn btn-outline-success" id="delete_test_result">Delete one test result!</button>
        <br>
        <br>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}
