{% extends '_base.html' %}

{% block title %}Главная{% endblock %}

{% block navbar %}
    {# Empty navbar block. Navbar will be included later #}
{% endblock %}

{% block content %}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-center mainText">
                <h1>Исторические места Ульяновска</h1>
                <hr>
                <h3>И все, что с ними связано</h3>
                <a class="btn btn-outline-light btn-lg" id="ButtonTop" href="#header">Узнать больше</a>
            </div>
        </div>
    </div>
</header>

<div class="body">
    {% include '_navbar.html' %}

    <div class="container main">
        <br>
        <div class="row">
            <div class="col-lg-4 ">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="/static/img/main/besedka.jpg " class="img-fluid rounded" alt="">
                        <a href="/articles/Беседка-Гончарова">
                            <button type="button" class="btn btn-dark mt-1">Беседка Гончарова</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="/static/img/main/sklep.jpg" class="img-fluid rounded" alt="">
                        <a href="/articles/Склеп-Киндяковых">
                            <button type="button" class="btn btn-dark mt-1">Склеп Киндяковых</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="/static/img/main/phonsht.jpg" class="img-fluid rounded" alt="">
                        <a href="/articles/Дом-барона">
                            <button type="button" class="btn btn-dark mt-1">Дом-особняк барона Х. Г. фон Штемпеля</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="/static/img/main/domZel.jpg" class="img-fluid rounded" alt="">
                        <a href="/articles/Доходный-дом">
                            <button type="button" class="btn btn-dark mt-1">Доходный дом Зеленковой</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="/static/img/main/vokzal.jpg " class="img-fluid rounded" alt="">
                        <a href="/articles/Вокзал-Симбирска-Ульяновска">
                            <button type="button" class="btn btn-dark mt-1">Вокзал Симбирска Ульяновска</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="/static/img/main/skverG.jpg " class="img-fluid rounded" alt="">
                        <a href="/articles/Сквер-Гончарова">
                            <button type="button" class="btn btn-dark mt-1">Сквер Гончарова</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="/static/img/main/sobor.jpg " class="img-fluid rounded" alt="">
                        <a href="/articles/Исчезнувшие-здания-в-Ульяновске">
                            <button type="button" class="btn btn-dark mt-1">Исчезнувшие здания в Ульяновске</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="/static/img/main/dvorsobr.jpg " class="img-fluid rounded" alt="">
                        <a href="/articles/Дворянское-собрание">
                            <button type="button" class="btn btn-dark mt-1">Дворянское собрание</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="/static/img/main/domUht.jpg " class="img-fluid rounded" alt="">
                        <a href="/articles/Дом-княжны-Ухтомской">
                            <button type="button" class="btn btn-dark mt-1">Дом княжны Ухтомской</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="/static/img/main/domG.jpg " class="img-fluid rounded" alt="">
                        <a href="/articles/Дом-Гончарова1">
                            <button type="button" class="btn btn-dark mt-1">Дом Гончарова</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="/static/img/main/domZ.jpg " class="img-fluid rounded" alt="">
                        <a href="/articles/Дом-купцов-Забориных">
                            <button type="button" class="btn btn-dark mt-1">Дом купцов Забориных</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="/static/img/main/sad.jpg " class="img-fluid rounded" alt="">
                        <a href="/articles/Владимирский-сад">
                            <button type="button" class="btn btn-dark mt-1">Владимирский сад</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="/static/img/main/pamkar.jpg " class="img-fluid rounded" alt="">
                        <a href="/articles/Памятник-Карамзину">
                            <button type="button" class="btn btn-dark mt-1">Памятник Н. М. Карамзину</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="/static/img/main/pamyatnikN.jpg " class="img-fluid rounded" alt="">
                        <a href="/articles/Памятник-Нариманову">
                            <button type="button" class="btn btn-dark mt-1">Памятник Нариманову</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="/static/img/main/kraevedmuz.jpg " class="img-fluid rounded" alt="">
                        <a href="/articles/Краеведческий-музей">
                            <button type="button" class="btn btn-dark mt-1">Краеведческий музей</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
