{% extends '_base.html' %}

{% block title %}Викторина{% endblock %}

{% block content %}
<div class="col-8 container bg-dark  text-white rounded mt-3">
    <br>
    Меня зовут <input type="text" id="author">
    <br>
    <br>
    <div>
        <button class="col-md-2 btn btn-primary btn-md" id="request_tasks">Сформировать тест</button>
    </div>
    <hr>

    <div id="task_area"></div>
    <div id="score_area"></div>
    <br>
    <button class="col-md-2 btn btn-primary btn-md mb-3" id="btn_check_tasks" hidden>Проверить</button>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/test.js') }}"></script>
{% endblock %}
